# Wrangle Data
##  Project : We Rate Dogs 

My goal in this wrangling act is to gather, assess and cleaning dataset from 3 different sources to finally be able to consolidate all this data into a single dataset to create interesting and trustworthy analyses and visualizations.

### Table of Content
<ul>
    <li><a href="#Data_Gathering">I. Data Gathering</a></li>
    <ul>
        <li><a href="#twit_arch">1. twitter_archive_enhanced.csv</a></li>
    <li><a href="#img_pred">2.  image_predictions.tsv Programmatically download</a></li>
    <li><a href="#tweet_metrics">3.tweet_json.txt</a></li>
</ul>
    <li><a href="#Data_Assessment">II. Data Assessment</a></li>
    <li><a href="#Data_Cleaning">III.Data Cleaning</a></li>
       <ul>
            <li><a href="#cleaning">1. Cleaning</a></li>
           <ul>
                    <li><a href="#clean1">A. Wrong Datatypes for timestamp column</a></li>
                    <li><a href="#clean2">B. Only original tweet (no retweet or reply)</a></li>
               <li><a href="#clean3">C. Wrong ratings score</a></li>
               <li><a href="#clean4">D. Delete denominator > 10</a></li>
               <li><a href="#clean5">E. Absurd numerator ratings left</a></li>
               <li><a href="#clean6">F. HTML in Source column</a></li>
               <li><a href="#clean7">G. Name column inconsistencies</a></li>
                    <li><a href="#clean8">H. standardization of dog breed names</a></li>
                </ul>      
            <li><a href="#tidy">2. Tydinness</a></li>
                <ul>
                    <li><a href="#tidy1">A. Stage dog column</a></li>
                    <li><a href="#tidy2">B. Delete the retweet and reply columns from archive</a></li>
                    <li><a href="#tidy3">C. Tydinnes issues of image_prediction_clean</a></li>
                </ul>
        </ul>
    <li><a href="#merge">IV. Merging column</a></li>
    <li><a href="#store">V. Store twitter_archive_master</a></li>
</ul>

In [1]:
import pandas as pd
import numpy as np
import requests
import os
import tweepy
import json
import csv

<a id='Data_Gathering'></a>
#                                     I. Data Gathering

<a id='twit_arch'></a>
## 1. twitter_archive_enhanced.csv

twitter_archive_enhanced.csv has been manually uploaded to the notebook

#### Read and visualize twitter-archive-enhanced.csv

In [2]:
twit_arch = pd.read_csv('twitter-archive-enhanced.csv')
twit_arch.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

In [3]:
twit_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

<a id='img_pred'></a>
## 2. image_predictions.tsv Programmatically download

#### Download, Read, visualize image-predictions.tsv

In [4]:
urls = ['https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv']

for url in urls:
    response = requests.get(url)
    with open (os.path.join(url.split('/')[-1]), mode='wb') as file:
        file.write(response.content)
        
img_pred = pd.read_csv('image-predictions.tsv', sep='\t')
img_pred.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

<a id='tweet_metrics'></a>
## 3. tweet_json.txt

#### Calling & accessing Twitter API using Tweepy

In [5]:
consumer_key = 'zlISSzjLNrpDoNxXz2MiEdCnX'
consumer_secret = 'cjsHFgxdRyRf1lK8mbgkxxFBxGzuNThciGME6RlvAfbKdlkAwj'
access_token = '2729738915-AVLRkroHmQBJuL7egsOXpHyldhhZ9VDw860h54y'
access_secret = 'qnWEA7bV5RMLoSNiY22A0JK0vCQmNNPwGAMOVssianbab'

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, 
                 parser = tweepy.parsers.JSONParser(), 
                 wait_on_rate_limit = True, 
                 wait_on_rate_limit_notify = True)

#### Retrieve tweet ID Status, retweet count, and favorite count into tweet_json.txt

In [9]:
tweet_ok = []
tweet_error = []
for tweet_id in twit_arch['tweet_id']:
    try:
        tweet_ok.append(api.get_status(tweet_id, tweet_mode= 'extended'))
    except Exception as e:
         tweet_error.append(tweet_id)

Rate limit reached. Sleeping for: 410
Rate limit reached. Sleeping for: 724
Rate limit reached. Sleeping for: 702

In [13]:
print("The list of tweets" ,len(tweet_ok))
print("The list of tweets no found" , len(tweet_error))

The list of tweets 2331
The list of tweets no found 25

In [23]:
tweet_dicts = []
for each_json_tweet in tweet_ok:
    tweet_dicts.append(each_json_tweet)

In [24]:
with open('tweet_json.txt', 'w') as file:
        file.write(json.dumps(tweet_ok, indent=4))

In [5]:
#identify information of interest from JSON dictionaries in txt file
#and put it in a dataframe called tweet JSON
tweet_stat = []
with open('tweet_json.txt', encoding='utf-8') as json_file:  
    all_tweet = json.load(json_file)
    for each_dictionary in all_tweet:
        tweet_id = each_dictionary['id']
        fav = each_dictionary['favorite_count']
        rt = each_dictionary['retweet_count']

        tweet_stat.append({'tweet_id': str(tweet_id),
                             'fav': int(fav),
                             'rt': int(rt)
                            })
        tweet_metrics = pd.DataFrame(tweet_stat, columns = ['tweet_id', 'fav','rt'])

In [6]:
tweet_metrics.head()

             tweet_id    fav    rt
0  892420643555336193  36349  7733
1  892177421306343426  31320  5727
2  891815181378084864  23592  3788
3  891689557279858688  39654  7901
4  891327558926688256  37849  8520

<a id='Data_Assessment'></a>
#                                     II. Data Assessment

In [7]:
twit_arch.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

### Visually :

The following columns have missing value :

    - in_reply_to_status_id
    - in_reply_to_user_id
    - retweeted_status_id
    - retweeted_status_user_id
    - retweeted_status_timestamp

In [8]:
twit_arch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
twit_arch[twit_arch.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [10]:
twit_arch[twit_arch.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [11]:
twit_arch[twit_arch.expanded_urls.duplicated()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
75,878281511006478336,NaN,NaN,2017-06-23 16:00:04 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Shadow. In an attempt to reach maximum zo...,NaN,NaN,NaN,"https://www.gofundme.com/3yd6y1c,https://twitt...",13,10,Shadow,None,None,None,None
76,878057613040115712,NaN,NaN,2017-06-23 01:10:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Emmy. She was adopted today. Massive r...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/878057613...,14,10,Emmy,None,None,None,None
98,873213775632977920,NaN,NaN,2017-06-09 16:22:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Sierra. She's one precious pupper. Abs...,NaN,NaN,NaN,https://www.gofundme.com/help-my-baby-sierra-g...,12,10,Sierra,None,None,pupper,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
126,868552278524837888,NaN,NaN,2017-05-27 19:39:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Cooper. His expression is the sam...,NaN,NaN,NaN,"https://www.gofundme.com/3ti3nps,https://twitt...",12,10,Cooper,None,None,None,None
135,866450705531457537,NaN,NaN,2017-05-22 00:28:40 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Jamesy. He gives a kiss to every other...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866450705...,13,10,Jamesy,None,None,pupper,None
136,866334964761202691,NaN,NaN,2017-05-21 16:48:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Coco. At first I thought she was a clo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/866334964...,12,10,Coco,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
150,863062471531167744,NaN,NaN,2017-05-12 16:05:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Quinn. She's quite the goofball. ...,NaN,NaN,NaN,"https://www.gofundme.com/helpquinny,https://tw...",13,10,Quinn,None,None,None,None
161,860563773140209665,NaN,NaN,2017-05-05 18:36:06 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Lorenzo. He's an avid nifty hat wearer an...,NaN,NaN,NaN,https://www.gofundme.com/help-lorenzo-beat-can...,13,10,Lorenzo,None,None,None,None
169,859196978902773760,NaN,NaN,2017-05-02 00:04:57 +0000,"<a href=""http://twitter.com/download/iphone"" r...",We only rate dogs. This is quite clearly a smo...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/859196978...,12,10,quite,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
253,844704788403113984,NaN,NaN,2017-03-23 00:18:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Luna. It's her first time outside and ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/844704788...,13,10,Luna,None,None,None,None
264,842163532590374912,NaN,NaN,2017-03-16 00:00:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet George. He looks slightly deflated but ov...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/842163532...,12,10,George,None,None,None,None
271,841077006473256960,NaN,NaN,2017-03-13 00:02:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Dawn. She's just checking pup on you. ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/841077006...,12,10,Dawn,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
276,840632337062862849,NaN,NaN,2017-03-11 18:35:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Say hello to Maddie and Gunner. They are consi...,NaN,NaN,NaN,"https://www.gofundme.com/3hgsuu0,https://twitt...",12,10,Maddie,None,None,None,None
280,839549326359670784,NaN,NaN,2017-03-08 18:52:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Winston. He knows he's a little too big f...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/839549326...,12,10,Winston,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
293,837820167694528512,NaN,NaN,2017-03-04 00:21:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Here's a pupper before and after being asked ""...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/837820167...,12,10,None,None,None,pupper,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1655,683391852557561860,NaN,NaN,2016-01-02 20:58:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Say hello to Jack (pronounced ""Kevin""). He's a...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/683391852...,11,10,Jack,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1683,681694085539872773,NaN,NaN,2015-12-29 04:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Bo. He's a Benedoop Cumbersnatch. Seem...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/681694085...,11,10,Bo,None,None,pupper,None
1688,681523177663676416,NaN,NaN,2015-12-28 17:12:42 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Carly. She's actually 2 dogs fused tog...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/681523177...,12,10,Carly,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1726,680055455951884288,NaN,NaN,2015-12-24 16:00:30 +0000,"<a href=""https://about.twitter.com/products/tw...","Meet Sammy. At first I was like ""that's a snow...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/680055455...,10,10,Sammy,None,None,None,None
1742,679462823135686656,NaN,NaN,2015-12-23 00:45:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Hurley. He's the curly one. He hugs every...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/679462823...,11,10,Hurley,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1806,676936541936185344,NaN,NaN,2015-12-16 01:27:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we see a rare pouched pupper. Ample stora...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676936541...,8,10,None,None,None,pupper,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1970,673295268553605120,NaN,NaN,2015-12-06 00:17:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Eve. She's a raging alcoholic 8/10 (would...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/673295268...,8,10,Eve,None,None,pupper,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2180,669000397445533696,NaN,NaN,2015-11-24 03:51:38 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Terrance. He's being yelled at because he...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/669000397...,11,10,Terrance,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2212,668587383441514497,NaN,NaN,2015-11-23 00:30:28 +0000,"<a href=""http://vine.co"" rel=""nofollow"">Vine -...",Never forget this vine. You will not stop watc...,NaN,NaN,NaN,https://vine.co/v/ea0OwvPTx9l,13,10,the,None,None,None,None
2248,667866724293877760,NaN,NaN,2015-11-21 00:46:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Shaggy. He knows exactly how to solve ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667866724...,10,10,Shaggy,None,None,None,None
2286,667182792070062081,NaN,NaN,2015-11-19 03:29:07 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Timison. He just told an awful joke bu...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667182792...,10,10,Timison,None,None,None,None
2293,667152164079423490,NaN,NaN,2015-11-19 01:27:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Pipsy. He is a fluffball. Enjoys trave...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667152164...,12,10,Pipsy,None,None,None,None
2294,667138269671505920,NaN,NaN,2015-11-19 00:32:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Extremely intelligent dog here. Has learned to...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667138269...,10,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
2338,666104133288665088,NaN,NaN,2015-11-16 04:02:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Not familiar with this breed. No tail (weird)....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666104133...,1,10,None,None,None,None,None

In [12]:
twit_arch[twit_arch.expanded_urls.isnull()]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
30,886267009285017600,8.862664e+17,2.281182e+09,2017-07-15 16:51:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@NonWhiteHat @MayhewMayhem omg hello tanner yo...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
55,881633300179243008,8.816070e+17,4.738443e+07,2017-07-02 21:58:53 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@roushfenway These are good dogs but 17/10 is ...,NaN,NaN,NaN,NaN,17,10,None,None,None,None,None
64,879674319642796034,8.795538e+17,3.105441e+09,2017-06-27 12:14:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@RealKentMurphy 14/10 confirmed,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
113,870726314365509632,8.707262e+17,1.648776e+07,2017-06-02 19:38:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@ComplicitOwl @ShopWeRateDogs &gt;10/10 is res...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
148,863427515083354112,8.634256e+17,7.759620e+07,2017-05-13 16:15:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Jack_Septic_Eye I'd need a few more pics to p...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
179,857214891891077121,8.571567e+17,1.806710e+08,2017-04-26 12:48:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@Marc_IRL pixelated af 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
185,856330835276025856,NaN,NaN,2017-04-24 02:15:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",RT @Jenna_Marbles: @dog_rates Thanks for ratin...,8.563302e+17,66699013.0,2017-04-24 02:13:14 +0000,NaN,14,10,None,None,None,None,None
186,856288084350160898,8.562860e+17,2.792810e+08,2017-04-23 23:26:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@xianmcguire @Jenna_Marbles Kardashians wouldn...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
188,855862651834028034,8.558616e+17,1.943518e+08,2017-04-22 19:15:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@dhmontgomery We also gave snoop dogg a 420/10...,NaN,NaN,NaN,NaN,420,10,None,None,None,None,None
189,855860136149123072,8.558585e+17,1.361572e+07,2017-04-22 19:05:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@s8n You tried very hard to portray this good ...,NaN,NaN,NaN,NaN,666,10,None,None,None,None,None
218,850333567704068097,8.503288e+17,2.195506e+07,2017-04-07 13:04:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus MARK THAT DOG HAS SEEN AND EXPERIE...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
228,848213670039564288,8.482121e+17,4.196984e+09,2017-04-01 16:41:12 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jerry just apuppologized to me. He said there ...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
234,847617282490613760,8.476062e+17,4.196984e+09,2017-03-31 01:11:22 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@breaannanicolee PUPDATE: Cannon has a heart ...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
274,840698636975636481,8.406983e+17,8.405479e+17,2017-03-11 22:59:09 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@0_kelvin_0 &gt;10/10 is reserved for puppos s...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
290,838150277551247360,8.381455e+17,2.195506e+07,2017-03-04 22:12:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@markhoppus 182/10,NaN,NaN,NaN,NaN,182,10,None,None,None,None,None
291,838085839343206401,8.380855e+17,2.894131e+09,2017-03-04 17:56:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@bragg6of8 @Andy_Pace_ we are still looking fo...,NaN,NaN,NaN,NaN,15,10,None,None,None,None,None
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@jonnysun @Lin_Manuel ok jomny I know you're e...,NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
346,831926988323639298,8.319030e+17,2.068372e+07,2017-02-15 18:03:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@UNC can confirm 12/10,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
375,828361771580813312,NaN,NaN,2017-02-05 21:56:51 +0000,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",Beebop and Doobert should start a band 12/10 w...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
387,826598799820865537,8.265984e+17,4.196984e+09,2017-02-01 01:11:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I was going to do 007/10, but the joke wasn't ...",NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
409,823333489516937216,8.233264e+17,1.582854e+09,2017-01-23 00:56:15 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@HistoryInPics 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
427,821153421864615936,8.211526e+17,1.132119e+08,2017-01-17 00:33:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@imgur for a polar bear tho I'd say 13/10 is a...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
498,813130366689148928,8.131273e+17,4.196984e+09,2016-12-25 21:12:41 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been informed by multiple sources that th...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
513,811647686436880384,8.116272e+17,4.196984e+09,2016-12-21 19:01:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: I've been informed that Augie was act...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
570,801854953262350336,8.018543e+17,1.185634e+07,2016-11-24 18:28:13 +0000,"<a href=""http://twitter.com/download/iphone"" r...",.@NBCSports OMG THE TINY HAT I'M GOING TO HAVE...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
576,800859414831898624,8.008580e+17,2.918590e+08,2016-11-22 00:32:18 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@SkyWilliams doggo simply protecting you from ...,NaN,NaN,NaN,NaN,11,10,None,doggo,None,None,None
611,797165961484890113,7.971238e+17,2.916630e+07,2016-11-11 19:55:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@JODYHiGHROLLER it may be an 11/10 but what do...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
701,786051337297522688,7.727430e+17,7.305050e+17,2016-10-12 03:50:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 for breakdancing puppo @shibbnbot,NaN,NaN,NaN,NaN,13,10,None,None,None,None,puppo
707,785515384317313025,NaN,NaN,2016-10-10 16:20:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...","Today, 10/10, should be National Dog Rates Day",NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
843,766714921925144576,7.667118e+17,4.196984e+09,2016-08-19 19:14:16 +0000,"<a href=""http://twitter.com/download/iphone"" r...",His name is Charley and he already has a new s...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
857,763956972077010945,7.638652e+17,1.584641e+07,2016-08-12 04:35:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@TheEllenShow I'm not sure if you know this bu...,NaN,NaN,NaN,NaN,12,10,None,doggo,None,None,None
967,750381685133418496,7.501805e+17,4.717297e+09,2016-07-05 17:31:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 such a good doggo\n@spaghemily,NaN,NaN,NaN,NaN,13,10,None,doggo,None,None,None
1005,747651430853525504,7.476487e+17,4.196984e+09,2016-06-28 04:42:46 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Other pupper asked not to have his identity sh...,NaN,NaN,NaN,NaN,12,10,None,None,None,pupper,None
1080,738891149612572673,7.384119e+17,3.589728e+08,2016-06-04 00:32:32 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@mount_alex3 13/10,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1295,707983188426153984,7.079801e+17,2.319108e+09,2016-03-10 17:35:20 +0000,"<a href=""http://twitter.com/download/iphone"" r...",@serial @MrRoles OH MY GOD I listened to all o...,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1345,704491224099647488,7.044857e+17,2.878549e+07,2016-03-01 02:19:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10 hero af\n@ABC,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1445,696518437233913856,NaN,NaN,2016-02-08 02:18:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Oh my god 10/10 for every little hot dog pupper,NaN,NaN,NaN,NaN,10,10,None,None,None,pupper,None
1446,696490539101908992,6.964887e+17,4.196984e+09,2016-02-08 00:27:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After reading the comments I may have overesti...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
1474,693644216740769793,6.936422e+17,4.196984e+09,2016-01-31 03:57:23 +0000,"<a href=""http://twitter.com/download/iphone"" r...",BREAKING PUPDATE: I've just been notified that...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None
1479,693582294167244802,6.935722e+17,1.198989e+09,2016-01-30 23:51:19 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Personally I'd give him an 11/10. Not sure why...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1497,692423280028966913,6.924173e+17,4.196984e+09,2016-01-27 19:05:49 +0000,"<a href=""http://twitter.com/download/iphone"" r...",PUPDATE: just noticed this dog has some extra ...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1523,690607260360429569,6.903413e+17,4.670367e+08,2016-01-22 18:49:36 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 @LightningHoltt,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Yes I do realize a rating of 4/20 would've bee...,NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1605,685681090388975616,6.855479e+17,4.196984e+09,2016-01-09 04:34:45 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Jack deserves another round of applause. If yo...,NaN,NaN,NaN,NaN,14,10,None,None,None,None,None
1618,684969860808454144,6.849598e+17,4.196984e+09,2016-01-07 05:28:35 +0000,"<a href=""http://twitter.com/download/iphone"" r...","For those who claim this is a goat, u are wron...",NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...","I'm aware that I could've said 20/16, but here...",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1689,681340665377193984,6.813394e+17,4.196984e+09,2015-12-28 05:07:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",I've been told there's a slight possibility he...,NaN,NaN,NaN,NaN,5,10,None,None,None,None,None
1774,678023323247357953,6.780211e+17,4.196984e+09,2015-12-19 01:25:31 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After getting lost in Reese's eyes for several...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1819,676590572941893632,6.765883e+17,4.196984e+09,2015-12-15 02:32:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After some outrage from the crowd. Bubbles is ...,NaN,NaN,NaN,NaN,7,10,None,None,None,None,None
1844,675849018447167488,6.758457e+17,4.196984e+09,2015-12-13 01:25:37 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This dog is being demoted to a 9/10 for not we...,NaN,NaN,NaN,NaN,9,10,None,None,None,None,None
1895,674742531037511680,6.747400e+17,4.196984e+09,2015-12-10 00:08:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Some clarification is required. The dog is sin...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
1905,674606911342424069,6.744689e+17,4.196984e+09,2015-12-09 15:09:55 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The 13/10 also takes into account this impecca...,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1914,674330906434379776,6.658147e+17,1.637468e+07,2015-12-08 20:53:11 +0000,"<a href=""http://twitter.com/download/iphone"" r...",13/10\n@ABC7,NaN,NaN,NaN,NaN,13,10,None,None,None,None,None
1940,673716320723169284,6.737159e+17,4.196984e+09,2015-12-07 04:11:02 +0000,"<a href=""http://twitter.com/download/iphone"" r...",The millennials have spoken and we've decided ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2038,671550332464455680,6.715449e+17,4.196984e+09,2015-12-01 04:44:10 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After 22 minutes of careful deliberation this ...,NaN,NaN,NaN,NaN,1,10,None,None,None,None,None
2149,669684865554620416,6.693544e+17,4.196984e+09,2015-11-26 01:11:28 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After countless hours of research and hundreds...,NaN,NaN,NaN,NaN,11,10,None,None,None,None,None
2189,668967877119254528,6.689207e+17,2.143566e+07,2015-11-24 01:42:25 +0000,"<a href=""http://twitter.com/download/iphone"" r...",12/10 good shit Bubka\n@wane15,NaN,NaN,NaN,NaN,12,10,None,None,None,None,None
2298,667070482143944705,6.670655e+17,4.196984e+09,2015-11-18 20:02:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",After much debate this dog is being upgraded t...,NaN,NaN,NaN,NaN,10,10,None,None,None,None,None

In [13]:
twit_arch.name.value_counts()

None         745
a             55
Charlie       12
Cooper        11
Lucy          11
Oliver        11
Tucker        10
Lola          10
Penny         10
Bo             9
Winston        9
Sadie          8
the            8
Toby           7
Daisy          7
Bailey         7
an             7
Buddy          7
Leo            6
Scout          6
Koda           6
Jack           6
Bella          6
Milo           6
Stanley        6
Jax            6
Dave           6
Rusty          6
Oscar          6
Bentley        5
            ...
Akumi          1
Edmund         1
Pepper         1
Brooks         1
Newt           1
Mojo           1
Charl          1
Kathmandu      1
Bauer          1
Koko           1
BeBe           1
Sunshine       1
Lipton         1
Pip            1
Obi            1
Taco           1
Lolo           1
Ralph         1
Mike           1
Ralphie        1
Venti          1
Goose          1
Jeb            1
Humphrey       1
Maks           1
Keet           1
Sojourner      1
Karll          1
Blipson        1
Willem         1
Name: name, Length: 957, dtype: int64

Some Name are inconsistent, they only have small caps

In [14]:
num_aberation = twit_arch.rating_numerator.value_counts()
num_aberation.sort_index(ascending=False)

1776      1
960       1
666       1
420       2
204       1
182       1
165       1
144       1
143       1
121       1
99        1
88        1
84        1
80        1
75        2
60        1
50        1
45        1
44        1
27        1
26        1
24        1
20        1
17        1
15        2
14       54
13      351
12      558
11      464
10      461
9       158
8       102
7        55
6        32
5        37
4        17
3        19
2         9
1         9
0         2
Name: rating_numerator, dtype: int64

Some numerator are way above 10, according to the prject motivation it's seems normal but we'll check if their not corrupt

In [15]:
den_aberation = twit_arch.rating_denominator.value_counts()
den_aberation.sort_index(ascending=False)

170       1
150       1
130       1
120       1
110       1
90        1
80        2
70        1
50        3
40        1
20        2
16        1
15        1
11        3
10     2333
7         1
2         1
0         1
Name: rating_denominator, dtype: int64

Some denominator does not equal 10, we'll have to check those inconsistency

### Programmatically :

- It confirms our prior visual assessment, the `expanded_urls` columns also have missing values.

- The timestamp have the wrong data types (object instead of timestamp)

- While checking the null urls the last 4 columns seems untidy

- There is also a lot of None or non sens value (ex: a, an, bo, the, officially  ...) in name columns.

- Source columns have html in it

- The ratings in numerator and denominator columns are biased (should be 10)

### `twit_arch` table

#### Missing Value for the Following Columns : 
    - in_reply_to_status_id
    - in_reply_to_user_id
    - retweeted_status_id
    - retweeted_status_user_id
    - retweeted_status_timestamp
    - expanded_urls
    
#### Wrong Data Types :
    - Timestamp
    
#### Cleanliness issue :
    - Check & fix error of rating_numerator
    - The rating_denominator should always be 10
    - HTML in Source column
    - None & non sens value in name columns

##### `img_pred` table

In [16]:
img_pred.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True

Visually:

We see that the img_pred table is not tidy (p1 : p3 dog)

The p1,p2,p3 column have underscore and mix of capital & small caps

In [17]:
img_pred.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [18]:
img_pred.p1.value_counts()

golden_retriever             150
Labrador_retriever           100
Pembroke                      89
Chihuahua                     83
pug                           57
chow                          44
Samoyed                       43
toy_poodle                    39
Pomeranian                    38
cocker_spaniel                30
malamute                      30
French_bulldog                26
Chesapeake_Bay_retriever      23
miniature_pinscher            23
seat_belt                     22
German_shepherd               20
Staffordshire_bullterrier     20
Siberian_husky                20
web_site                      19
Cardigan                      19
Maltese_dog                   18
Shetland_sheepdog             18
beagle                        18
Eskimo_dog                    18
teddy                         18
Shih-Tzu                      17
Rottweiler                    17
Lakeland_terrier              17
kuvasz                        16
Italian_greyhound             16
                            ...
cougar                         1
coffee_mug                     1
microwave                      1
earthstar                      1
studio_couch                   1
boathouse                      1
loupe                          1
maze                           1
conch                          1
syringe                        1
timber_wolf                    1
carousel                       1
hare                           1
bison                          1
piggy_bank                     1
hummingbird                    1
lawn_mower                     1
ice_lolly                      1
Japanese_spaniel               1
lacewing                       1
ocarina                        1
canoe                          1
zebra                          1
basketball                     1
standard_schnauzer             1
remote_control                 1
dining_table                   1
clog                           1
marmot                         1
school_bus                     1
Name: p1, Length: 378, dtype: int64

There is less record than the twit_arch df

Some Breed does not exist in real life such as scorpion, mailbox, pillow ...

Mix between capital and small capps letter

##### `tweet_metrics` table

In [19]:
tweet_metrics.head(3)

             tweet_id    fav    rt
0  892420643555336193  36349  7733
1  892177421306343426  31320  5727
2  891815181378084864  23592  3788

In [20]:
tweet_metrics.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id    2331 non-null object
fav         2331 non-null int64
rt          2331 non-null int64
dtypes: int64(2), object(1)
memory usage: 54.7+ KB

#### Quality
### `twit_arch` table

#### Missing Value for the Following Columns : 
    - in_reply_to_status_id
    - in_reply_to_user_id
    - retweeted_status_id
    - retweeted_status_user_id
    - retweeted_status_timestamp
    
    - expanded_urls
    
#### Wrong Data Types :
    - Timestamp
    
#### Cleanliness issue :
    - The max rating_numerator should be 10
    - The rating_denominator should always be 10
    - HTML in Source column
    - None & non sens value in name columns

### `img_pred` table
    - less record than the twit_arch df
    - Some Breed does not exist in real life such as scorpion, mailbox, pillow ...
    - Mix between capital and small capps letter and underscore

#### Tidiness
- The retweet and reply are not interesting since they'll be empty
- doggo, floofer, pupper, puppo should be one column
- The prediction could be only 3 columns instead of 9
- Merge the twit_arch & tweet_metric

<a id='Data_Cleaning'></a>
#                                     III. Data Cleaning & Tydinness

<a id='cleaning'></a>
### I. Cleaning

### `twit_arch` table

In [21]:
twitter_archive_clean = twit_arch.copy()

In [22]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

<a id='clean1'></a>
#### I. Wrong Datatypes for timestamp column

The timestamp column is an object instead of a proper timestamp

In [23]:
twitter_archive_clean.head(2)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None

In [24]:
twitter_archive_clean['timestamp'] = pd.to_datetime(twitter_archive_clean['timestamp'])

In [25]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null datetime64[ns]
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 313.0+ KB

In [26]:
twitter_archive_clean.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None

<a id='clean2'></a>
#### II. Only original tweet (no retweet or reply)

As state during the project motivation section we have to delete all the rows how is not null in the following columns :

    - retweeted_status_id
    - retweeted_status_user_id
    - retweeted_status_timestamp

In [27]:
twitter_archive_clean = twitter_archive_clean.query("retweeted_status_id == 'NaN' and in_reply_to_user_id =='NaN'")

In [28]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2097 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2097 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     2097 non-null datetime64[ns]
source                        2097 non-null object
text                          2097 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 2094 non-null object
rating_numerator              2097 non-null int64
rating_denominator            2097 non-null int64
name                          2097 non-null object
doggo                         2097 non-null object
floofer                       2097 non-null object
pupper                        2097 non-null object
puppo                         2097 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 294.9+ KB

<a id='clean3'></a>
#### III. Wrong ratings score

Even if the project motivation specifies that's The fact that the rating numerators are greater than the denominators does not need to be cleaned some rating seems really overrated and need a check

In [29]:
twitter_score_status = twitter_archive_clean[['tweet_id','text','rating_numerator','rating_denominator']]
pd.set_option('display.max_colwidth', -1)
twitter_score_status.query("rating_denominator != 10")

,tweet_id,text,rating_numerator,rating_denominator
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1068,740373189193256964,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",9,11
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1165,722974582966214656,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,4,20
1202,716439118184652801,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,50,50
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1662,682962037429899265,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,7,11
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80
2335,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,1,2

tweet_id : 666287406224695296 score 1/2 instead of 9/10

tweet_id : 740373189193256964 score 9/11 instead of 14/10

tweet_id : 682962037429899265 score 7/11 instead of 10/10

tweet_id : 716439118184652801 score 50/50 instead of 11/10

tweet_id : 722974582966214656 score 4/20 instead of 13/10

In [30]:
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 666287406224695296, ['rating_numerator','rating_denominator']] = 9, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 740373189193256964, ['rating_numerator','rating_denominator']] = 14, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 682962037429899265, ['rating_numerator','rating_denominator']] = 10, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 716439118184652801, ['rating_numerator','rating_denominator']] = 11, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 722974582966214656, ['rating_numerator','rating_denominator']] = 13, 10

In [31]:
twitter_score_status2 = twitter_archive_clean[['tweet_id','text','rating_numerator','rating_denominator']]
pd.set_option('display.max_colwidth', -1)
twitter_score_status2.query("rating_denominator != 10")

,tweet_id,text,rating_numerator,rating_denominator
433,820690176645140481,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,84,70
516,810984652412424192,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,24,7
902,758467244762497024,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,165,150
1120,731156023742988288,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,204,170
1228,713900603437621249,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,99,90
1254,710658690886586372,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,80,80
1274,709198395643068416,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",45,50
1351,704054845121142784,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,60,50
1433,697463031882764288,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,44,40
1635,684222868335505415,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,121,110
1779,677716515794329600,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,144,120
1843,675853064436391936,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,88,80

<a id='clean4'></a>
#### IV.Delete denominator > 10

As seen right before, some denominator that fall under the recording error aren't equal to 10. those tweet doesn't have appropriate ratings, we are going to delete them.

In [32]:
twitter_archive_clean = twitter_archive_clean.query("rating_denominator == 10")
twitter_archive_clean['rating_denominator'].value_counts()

10    2085
Name: rating_denominator, dtype: int64

<a id='clean5'></a>
#### V. Absurd numerator ratings left

Let's check for some absurd ratings in the numerator

In [33]:
tweet_num_test = twitter_archive_clean.query("rating_numerator > 10")
tweet_num_test['rating_numerator'].value_counts()

12      486
11      414
13      288
14      39
1776    1
420     1
75      1
27      1
26      1
Name: rating_numerator, dtype: int64

Some numerator seems inconsistent let's check their ratings

In [34]:
tweet_num_test.query("rating_numerator > 25")

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
695,786709082849828864,NaN,NaN,2016-10-13 23:23:56,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Logan, the Chow who lived. He solemnly swears he's up to lots of good. H*ckin magical af 9.75/10 https://t.co/yBO5wuqaPS",NaN,NaN,NaN,https://twitter.com/dog_rates/status/786709082849828864/photo/1,75,10,Logan,None,None,None,None
763,778027034220126208,NaN,NaN,2016-09-20 00:24:34,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Sophie. She's a Jubilant Bush Pupper. Super h*ckin rare. Appears at random just to smile at the locals. 11.27/10 would smile back https://t.co/QFaUiIHxHq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/778027034220126208/photo/1,27,10,Sophie,None,None,pupper,None
979,749981277374128128,NaN,NaN,2016-07-04 15:00:45,"<a href=""https://about.twitter.com/products/tweetdeck"" rel=""nofollow"">TweetDeck</a>",This is Atticus. He's quite simply America af. 1776/10 https://t.co/GRXwMxLBkh,NaN,NaN,NaN,https://twitter.com/dog_rates/status/749981277374128128/photo/1,1776,10,Atticus,None,None,None,None
1712,680494726643068929,NaN,NaN,2015-12-25 21:06:00,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,NaN,NaN,NaN,https://twitter.com/dog_rates/status/680494726643068929/photo/1,26,10,None,None,None,None,None
2074,670842764863651840,NaN,NaN,2015-11-29 05:52:33,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/670842764863651840/photo/1,420,10,None,None,None,None,None

Due to decimal some rating were recorded incorrectly. let's fix this by correcting the numerator ratings to the nearest whole number.

In [35]:
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 786709082849828864, ['rating_numerator','rating_denominator']] = 10, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 778027034220126208, ['rating_numerator','rating_denominator']] = 11, 10
twitter_archive_clean.loc[twitter_archive_clean.tweet_id == 680494726643068929, ['rating_numerator','rating_denominator']] = 11, 10

In [36]:
twitter_archive_clean['rating_numerator'].value_counts()

12      486
10      438
11      416
13      288
9       153
8       98
7       51
14      39
5       34
6       32
3       19
4       15
2       9
1       4
420     1
1776    1
0       1
Name: rating_numerator, dtype: int64

The ratings now seems more consistent, note that the scores of 1776 and 420 are not recording errors but the ratings given in the tweet.

<a id='clean6'></a>
#### VI. HTML in Source column

Using regex, replace the HTML tag

In [37]:
twitter_archive_clean.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None

In [38]:
twitter_archive_clean['source'][0]

'<a href="http://twitter.com/download/iphone" rel="nofollow">Twitter for iPhone</a>'

In [39]:
twitter_archive_clean['source'] = twitter_archive_clean['source'].str.replace('<[^<]+?>', '')

In [40]:
twitter_archive_clean['source'].value_counts()

Twitter for iPhone     1952
Vine - Make a Scene    91
Twitter Web Client     31
TweetDeck              11
Name: source, dtype: int64

<a id='clean7'></a>
#### VII. Name column inconsistencies

it has been observed, some inconsistence in the name column.
I'll first detect them and replace to "None" and then delete all the None name value.

In [41]:
twitter_archive_clean['name'].value_counts()

None         594
a            54
Charlie      11
Lucy         11
Cooper       10
Oliver       10
Penny        9
Tucker       9
Sadie        8
the          8
Lola         8
Winston      8
Toby         7
Daisy        7
Bo           6
Bailey       6
Jax          6
Oscar        6
an           6
Koda         6
Bella        6
Stanley      6
Buddy        5
Louis        5
Dave         5
Rusty        5
Scout        5
Bentley      5
Milo         5
Leo          5
            ..
Clyde        1
Anakin       1
Tedders      1
Willow       1
Humphrey     1
Goose        1
Grizzwald    1
Venti        1
Vinscent     1
Jareld       1
Roscoe       1
Cermet       1
Tanner       1
Sora         1
General      1
Philbert     1
Kathmandu    1
Koko         1
BeBe         1
Sunshine     1
Lipton       1
Pip          1
Obi          1
Taco         1
Lolo         1
Paull        1
Ralph       1
Bauer        1
Mike         1
Willem       1
Name: name, Length: 954, dtype: int64

In [42]:
twit_fake_name = twitter_archive_clean['name'].str.contains('^[a-z]')
twitter_archive_clean[twit_fake_name].name.value_counts()

a               54
the             8
an              6
one             4
very            4
just            3
quite           3
getting         2
actually        2
not             2
space           1
mad             1
old             1
such            1
my              1
unacceptable    1
all             1
his             1
officially      1
infuriating     1
incredibly      1
by              1
light           1
life            1
Name: name, dtype: int64

Except the None value who is capitalized, all the other small caps name are inconsistent

In [43]:
fk_name = ['a','the', 'an', 'very','one', 'quite', 'just', 'actually', 'getting', 'not', 'old','space', 'all', 'this', 'my', 'such', 'unacceptable', 'officially', 'by', 'light' ,'incredibly', 'his','mad', 'life', 'infuriating']

for names in twitter_archive_clean['name']:
    if names in fk_name:
        twitter_archive_clean['name'][twitter_archive_clean['name'] == names] = 'None'

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [44]:
twitter_archive_clean['name'].value_counts()

None         696
Lucy         11
Charlie      11
Oliver       10
Cooper       10
Penny        9
Tucker       9
Lola         8
Sadie        8
Winston      8
Daisy        7
Toby         7
Bailey       6
Bella        6
Koda         6
Jax          6
Stanley      6
Oscar        6
Bo           6
Milo         5
Bentley      5
Rusty        5
Louis        5
Chester      5
Leo          5
Dave         5
Scout        5
Buddy        5
Sophie       4
Chip         4
            ..
Kota         1
Harper       1
Harnold      1
Godzilla     1
Clyde        1
Mike         1
Bauer        1
Ralph       1
General      1
Jay          1
Clarq        1
Grizzwald    1
Vinscent     1
Jareld       1
Roscoe       1
Cermet       1
Tanner       1
Sora         1
Philbert     1
Paull        1
Kathmandu    1
Koko         1
BeBe         1
Sunshine     1
Lipton       1
Pip          1
Obi          1
Taco         1
Lolo         1
Willem       1
Name: name, Length: 930, dtype: int64

In [45]:
twitter_archive_clean = twitter_archive_clean.query("name !='None'")
twitter_archive_clean['name'].value_counts()

Charlie      11
Lucy         11
Cooper       10
Oliver       10
Penny        9
Tucker       9
Sadie        8
Lola         8
Winston      8
Daisy        7
Toby         7
Bailey       6
Stanley      6
Jax          6
Bella        6
Koda         6
Bo           6
Oscar        6
Buddy        5
Leo          5
Milo         5
Scout        5
Chester      5
Louis        5
Dave         5
Bentley      5
Rusty        5
Larry        4
Reggie       4
Archie       4
            ..
Harper       1
Harnold      1
Godzilla     1
Clyde        1
Anakin       1
Venti        1
Mike         1
Bauer        1
Philbert     1
Clarq        1
Grizzwald    1
Vinscent     1
Jareld       1
Roscoe       1
Cermet       1
Tanner       1
Sora         1
General      1
Kathmandu    1
Ralph       1
Koko         1
BeBe         1
Sunshine     1
Lipton       1
Pip          1
Obi          1
Taco         1
Lolo         1
Paull        1
Willem       1
Name: name, Length: 929, dtype: int64

All the inconsistent value in name column has been deleted

### `img_pred` table

In [46]:
image_prediction_clean = img_pred.copy()

In [47]:
image_prediction_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

<a id='clean8'></a>
#### VIII. standardization of dog breed names

##### Phase 1 : Replace Undersore

In order to have standardized dog breed names we are going to replace the undersore per a space
Using the replace method in p1, p2 & p3 column

In [48]:
for breed in image_prediction_clean[['p1','p2','p3']]:
    image_prediction_clean[breed] = image_prediction_clean[breed].str.replace('_',' ')

In [49]:
image_prediction_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh springer spaniel,0.465074,True,collie,0.156665,True,Shetland sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature pinscher,0.074192,True,Rhodesian ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian ridgeback,0.408143,True,redbone,0.360687,True,miniature pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

##### Phase 2 : capital letter for each words first letter

in the continuation of the objective of standardization of dog breed names we are going to replace in capital letter the first letter of each word present in the columns p1 p2 and p3.

Using the title() method

In [50]:
for breedcap in image_prediction_clean[['p1','p2','p3']]:
    image_prediction_clean[breedcap] = image_prediction_clean[breedcap].str.title()

In [51]:
image_prediction_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

<a id='tidy'></a>
### II. Tydinnes

<a id='tidy1'></a>
#### I. Stage dog column

Melt the *doggo*, *floofer*, *pupper*, *puppo* columns to a *stage* column.

In [52]:
twitter_archive_clean.head(3)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None

In [53]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 0 to 2325
Data columns (total 17 columns):
tweet_id                      1389 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1389 non-null datetime64[ns]
source                        1389 non-null object
text                          1389 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1389 non-null object
rating_numerator              1389 non-null int64
rating_denominator            1389 non-null int64
name                          1389 non-null object
doggo                         1389 non-null object
floofer                       1389 non-null object
pupper                        1389 non-null object
puppo                         1389 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(9)
memory usage: 195.3+ KB

In [54]:
twitter_archive_clean2 = pd.melt(twitter_archive_clean, id_vars=['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp', 'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator', 'rating_denominator', 'name'])
twitter_archive_clean2

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,variable,value
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,doggo,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,doggo,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,doggo,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,doggo,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,doggo,None
5,890971913173991426,NaN,NaN,2017-07-28 16:27:12,Twitter for iPhone,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\nhttps://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl,NaN,NaN,NaN,"https://gofundme.com/ydvmve-surgery-for-jax,https://twitter.com/dog_rates/status/890971913173991426/photo/1",13,10,Jax,doggo,None
6,890609185150312448,NaN,NaN,2017-07-27 16:25:51,Twitter for iPhone,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek https://t.co/9TwLuAGH0b,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890609185150312448/photo/1,13,10,Zoey,doggo,None
7,890240255349198849,NaN,NaN,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,NaN,NaN,NaN,https://twitter.com/dog_rates/status/890240255349198849/photo/1,14,10,Cassie,doggo,doggo
8,890006608113172480,NaN,NaN,2017-07-26 00:31:25,Twitter for iPhone,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/890006608113172480/photo/1,https://twitter.com/dog_rates/status/890006608113172480/photo/1",13,10,Koda,doggo,None
9,889880896479866881,NaN,NaN,2017-07-25 16:11:53,Twitter for iPhone,This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889880896479866881/photo/1,13,10,Bruno,doggo,None
10,889638837579907072,NaN,NaN,2017-07-25 00:10:02,Twitter for iPhone,This is Ted. He does his best. Sometimes that's not enough. But it's ok. 12/10 would assist https://t.co/f8dEDcrKSR,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/889638837579907072/photo/1,https://twitter.com/dog_rates/status/889638837579907072/photo/1",12,10,Ted,doggo,None
11,889531135344209921,NaN,NaN,2017-07-24 17:02:04,Twitter for iPhone,This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889531135344209921/photo/1,13,10,Stuart,doggo,None
12,889278841981685760,NaN,NaN,2017-07-24 00:19:32,Twitter for iPhone,This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb,NaN,NaN,NaN,https://twitter.com/dog_rates/status/889278841981685760/video/1,13,10,Oliver,doggo,None
13,888917238123831296,NaN,NaN,2017-07-23 00:22:39,Twitter for iPhone,This is Jim. He found a fren. Taught him how to sit like the good boys. 12/10 for both https://t.co/chxruIOUJN,NaN,NaN,NaN,https://twitter.com/dog_rates/status/888917238123831296/photo/1,12,10,Jim,doggo,None
14,888804989199671297,NaN,NaN,2017-07-22 16:56:37,Twitter for iPhone,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888804989199671297/photo/1,https://twitter.com/dog_rates/status/888804989199671297/photo/1",13,10,Zeke,doggo,None
15,888554962724278272,NaN,NaN,2017-07-22 00:23:06,Twitter for iPhone,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1,https://twitter.com/dog_rates/status/888554962724278272/photo/1",13,10,Ralphus,doggo,None
16,888078434458587136,NaN,NaN,2017-07-20 16:49:33,Twitter for iPhone,This is Gerald. He was just told he didn't get the job he interviewed for. A h*ckin injustice. 12/10 didn't want the job anyway https://t.co/DK7iDPfuRX,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/888078434458587136/photo/1,https://twitter.com/dog_rates/status/888078434458587136/photo/1",12,10,Gerald,doggo,None
17,887705289381826560,NaN,NaN,2017-07-19 16:06:48,Twitter for iPhone,This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic https://t.co/PhrUk20Q64,NaN,NaN,NaN,https://twitter.com/dog_rates/status/887705289381826560/photo/1,13,10,Jeffrey,doggo,None
18,887473957103951883,NaN,NaN,2017-07-19 00:47:34,Twitter for iPhone,This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/887473957103951883/photo/1,https://twitter.com/dog_rates/status/887473957103951883/photo/1",13,10,Canela,doggo,None
19,886983233522544640,NaN,NaN,2017-07-17 16:17:36,Twitter for iPhone,This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in https://t.co/I6oNy0CgiT,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/886983233522544640/photo/1,https://twitter.com/dog_rates/status/886983233522544640/photo/1",13,10,Maya,doggo,None
20,886736880519319552,NaN,NaN,2017-07-16 23:58:41,Twitter for iPhone,"This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\n\nhttps://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b",NaN,NaN,NaN,"https://www.gofundme.com/mingusneedsus,https://twitter.com/dog_rates/status/886736880519319552/photo/1,https://twitter.com/dog_rates/status/886736880519319552/photo/1",13,10,Mingus,doggo,None
21,886680336477933568,NaN,NaN,2017-07-16 20:14:00,Twitter for iPhone,This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886680336477933568/photo/1,13,10,Derek,doggo,None
22,886366144734445568,NaN,NaN,2017-07-15 23:25:31,Twitter for iPhone,This is Roscoe. Another pupper fallen victim to spontaneous tongue ejections. Get the BlepiPen immediate. 12/10 deep breaths Roscoe https://t.co/RGE08MIJox,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/886366144734445568/photo/1,https://twitter.com/dog_rates/status/886366144734445568/photo/1",12,10,Roscoe,doggo,None
23,886258384151887873,NaN,NaN,2017-07-15 16:17:19,Twitter for iPhone,This is Waffles. His doggles are pupside down. Unsure how to fix. 13/10 someone assist Waffles https://t.co/xZDA9Qsq1O,NaN,NaN,NaN,https://twitter.com/dog_rates/status/886258384151887873/photo/1,13,10,Waffles,doggo,None
24,885984800019947520,NaN,NaN,2017-07-14 22:10:11,Twitter for iPhone,Viewer discretion advised. This is Jimbo. He will rip ur finger right h*ckin off. Other dog clearly an accessory. 12/10 pls pet with caution https://t.co/BuveP0uMF1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885984800019947520/photo/1,12,10,Jimbo,doggo,None
25,885528943205470208,NaN,NaN,2017-07-13 15:58:47,Twitter for iPhone,This is Maisey. She fell asleep mid-excavation. Happens to the best of us. 13/10 would pat noggin approvingly https://t.co/tp1kQ8i9JF,NaN,NaN,NaN,https://twitter.com/dog_rates/status/885528943205470208/photo/1,13,10,Maisey,doggo,None
26,884925521741709313,NaN,NaN,2017-07-12 00:01:00,Twitter for iPhone,"This is Earl. He found a hat. Nervous about what you think of it. 12/10 it's delightful, Earl https://t.co/MYJvdlNRVa",NaN,NaN,NaN,https://twitter.com/dog_rates/status/884925521741709313/photo/1,12,10,Earl,doggo,None
27,884876753390489601,NaN,NaN,2017-07-11 20:47:12,Twitter for iPhone,This is Lola. It's her first time outside. Must test the earth and taste the atmosphere. 13/10 you're doing great Lola https://t.co/74TKAUsLkO,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1,https://twitter.com/dog_rates/status/884876753390489601/photo/1",13,10,Lola,doggo,None
28,884562892145688576,NaN,NaN,2017-07-11 00:00:02,Twitter for iPhone,This is Kevin. He's just so happy. 13/10 what is your secret Kevin https://t.co/1r4MFCbCX5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884562892145688576/photo/1,13,10,Kevin,doggo,None
29,884162670584377345,NaN,NaN,2017-07-09 21:29:42,Twitter for iPhone,Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/884162670584377345/photo/1,12,10,Yogi,doggo,doggo
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5526,667517642048163840,NaN,NaN,2015-11-20 01:39:42,Twitter Web Client,This is Dook &amp; Milo. Dook is struggling to find who he really is and Milo is terrified of what that might be. 8/10s https://t.co/fh5KflzBR0,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667517642048163840/photo/1,8,10,Dook,puppo,None
5527,667502640335572993,NaN,NaN,2015-11-20 00:40:05,Twitter Web Client,Say hello to Hall and Oates. Oates is winking and Hall is contemplating the artistic entropy of the universe. 11/10s https://t.co/n5Wtb5Hvsl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667502640335572993/photo/1,11,10,Hall,puppo,None
5528,667495797102141441,NaN,NaN,2015-11-20 00:12:54,Twitter Web Client,This is Philippe from Soviet Russia. Commanding leader. Misplaced other boot. Hung flag himself. 9/10 charismatic af https://t.co/5NhPV8E45i,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667495797102141441/photo/1,9,10,Philippe,puppo,None
5529,667455448082227200,NaN,NaN,2015-11-19 21:32:34,Twitter Web Client,This is Reese and Twips. Reese protects Twips. Both think they're too good for seat belts. Simply reckless. 7/10s https://t.co/uLzRi1drVK,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667455448082227200/photo/1,7,10,Reese,puppo,None
5530,667453023279554560,NaN,NaN,2015-11-19 21:22:56,Twitter Web Client,Meet Cupcake. I would do unspeakable things for Cupcake. 11/10 https://t.co/6uLCWR9Efa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667453023279554560/photo/1,11,10,Cupcake,puppo,None
5531,667405339315146752,NaN,NaN,2015-11-19 18:13:27,Twitter for iPhone,This is Biden. Biden just tripped... 7/10 https://t.co/3Fm9PwLju1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667405339315146752/photo/1,7,10,Biden,puppo,None
5532,667393430834667520,NaN,NaN,2015-11-19 17:26:08,Twitter for iPhone,This is Fwed. He is a Canadian Asian Taylormade. Was having a blast until pink spiky football attacked. 8/10 https://t.co/A37eGLz5WS,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667393430834667520/photo/1,8,10,Fwed,puppo,None
5533,667211855547486208,NaN,NaN,2015-11-19 05:24:37,Twitter for iPhone,This is Genevieve. She is a golden retriever cocktail mix. Comfortable close to wall. Shows no emotions. 9/10 https://t.co/azEoGqVonH,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667211855547486208/photo/1,9,10,Genevieve,puppo,None
5534,667200525029539841,NaN,NaN,2015-11-19 04:39:35,Twitter for iPhone,This is Joshwa. He is a fuckboy supreme. He clearly relies on owner but doesn't respect them. Dreamy eyes tho 11/10 https://t.co/60xYFRATPZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667200525029539841/photo/1,11,10,Joshwa,puppo,None
5535,667182792070062081,NaN,NaN,2015-11-19 03:29:07,Twitter for iPhone,This is Timison. He just told an awful joke but is still hanging on to the hope that you'll laugh with him. 10/10 https://t.co/s2yYuHabWl,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667182792070062081/photo/1,10,10,Timison,puppo,None
5536,667174963120574464,NaN,NaN,2015-11-19 02:58:01,Twitter for iPhone,"This is Clarence. His face says he doesn't want to be a donkey, but his tail is super pumped about it. 9/10 https://t.co/fGDWgukcBs",NaN,NaN,NaN,https://twitter.com/dog_rates/status/667174963120574464/photo/1,9,10,Clarence,puppo,None
5537,667171260800061440,NaN,NaN,2015-11-19 02:43:18,Twitter for iPhone,Say hello to Kenneth. He likes Reese's Puffs. 10/10 https://t.co/6RHNRsByOY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667171260800061440/photo/1,10,10,Kenneth,puppo,None
5538,667165590075940865,NaN,NaN,2015-11-19 02:20:46,Twitter for iPhone,This is Churlie. AKA Fetty Woof. Lost eye saving a school bus full of toddlers from a tsunami. Great guy. 10/10 https://t.co/li2XYBVuAY,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667165590075940865/photo/1,10,10,Churlie,puppo,None
5539,667160273090932737,NaN,NaN,2015-11-19 01:59:39,Twitter for iPhone,This is Bradlay. He is a Ronaldinho Matsuyama mix. Can also mountain bike (wow). Loves that blue light lime. 11/10 https://t.co/DKhgkMx4N1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667160273090932737/photo/1,11,10,Bradlay,puppo,None
5540,667152164079423490,NaN,NaN,2015-11-19 01:27:25,Twitter for iPhone,This is Pipsy. He is a fluffball. Enjoys traveling the sea &amp; getting tangled in leash. 12/10 I would kill for Pipsy https://t.co/h9R0EwKd9X,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667152164079423490/photo/1,12,10,Pipsy,puppo,None
5541,667119796878725120,NaN,NaN,2015-11-18 23:18:48,Twitter for iPhone,This is Gabe. He is a southern Baklava. Gabe has always wanted to fit in with the other bananas. 10/10 fabulous https://t.co/3LZrJzg3BJ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667119796878725120/photo/1,10,10,Gabe,puppo,None
5542,667090893657276420,NaN,NaN,2015-11-18 21:23:57,Twitter for iPhone,This is Clybe. He is an Anemone Valdez. One ear works. Can look in 2 different directions at once. Tongue slip. 7/10 https://t.co/Ks0jZtdIrr,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667090893657276420/photo/1,7,10,Clybe,puppo,None
5543,667073648344346624,NaN,NaN,2015-11-18 20:15:26,Twitter for iPhone,Here is Dave. He is actually just a skinny legged seal. Happy birthday Dave. 10/10 https://t.co/DPSamreuRq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667073648344346624/photo/1,10,10,Dave,puppo,None
5544,667062181243039745,NaN,NaN,2015-11-18 19:29:52,Twitter for iPhone,This is Keet. He is a Floridian Amukamara. Absolutely epic propeller hat. Pristine tongue. Nice plaid. 10/10 https://t.co/tz1lpuvXLA,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667062181243039745/photo/1,10,10,Keet,puppo,None
5545,667012601033924608,NaN,NaN,2015-11-18 16:12:51,Twitter for iPhone,This is Klevin. He laughs a lot. Very cool dog. 9/10 https://t.co/bATAbPNv0m,NaN,NaN,NaN,https://twitter.com/dog_rates/status/667012601033924608/photo/1,9,10,Klevin,puppo,None
5546,666996132027977728,NaN,NaN,2015-11-18 15:07:24,Twitter for iPhone,This is Carll. He wants to be a donkey. But also a soccer star. Dreams big. 10/10 https://t.co/SVpNbhaIMk,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666996132027977728/photo/1,10,10,Carll,puppo,None
5547,666817836334096384,NaN,NaN,2015-11-18 03:18:55,Twitter for iPhone,This is Jeph. He is a German Boston Shuttlecock. Enjoys couch. Lost body during French Revolution. True hero 9/10 https://t.co/8whlkYw3mO,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666817836334096384/photo/1,9,10,Jeph,puppo,None
5548,666804364988780544,NaN,NaN,2015-11-18 02:25:23,Twitter for iPhone,This is Jockson. He is a Pinnacle Sagittarius. Fancy bandana. Enjoys lightly sucking on hot dog in nature. 8/10 https://t.co/RdKbAOEpDK,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666804364988780544/photo/1,8,10,Jockson,puppo,None
5549,666776908487630848,NaN,NaN,2015-11-18 00:36:17,Twitter for iPhone,This is Josep. He is a Rye Manganese mix. Can drive w eyes closed. Very irresponsible. Menace on the roadways. 5/10 https://t.co/XNGeDwrtYH,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666776908487630848/photo/1,5,10,Josep,puppo,None
5550,666739327293083650,NaN,NaN,2015-11-17 22:06:57,Twitter for iPhone,This is Lugan. He is a Bohemian Rhapsody. Very confused dog. Thinks his name is Rocky. Not amused by the snows 10/10 https://t.co/tI3uFLDHBI,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666739327293083650/photo/1,10,10,Lugan,puppo,None
5551,666691418707132416,NaN,NaN,2015-11-17 18:56:35,Twitter for iPhone,This is Christoper. He is a spotted Penne. Can easily navigate stairs. 8/10 https://t.co/bg4TqvvkuF,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666691418707132416/photo/1,8,10,Christoper,puppo,None
5552,666644823164719104,NaN,NaN,2015-11-17 15:51:26,Twitter for iPhone,This is Jimothy. He is a Botwanian Gouda. Can write (impressive). Very erect tail. Still looking for hoco date. 9/10 https://t.co/LEkZjZxESQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666644823164719104/photo/1,9,10,Jimothy,puppo,None
5553,666454714377183233,NaN,NaN,2015-11-17 03:16:00,Twitter for iPhone,I'll name the dogs from now on. This is Kreggory. He does parkour. 10/10 https://t.co/uPqPeXAcua,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666454714377183233/photo/1,10,10,Kreggory,puppo,None
5554,666447344410484738,NaN,NaN,2015-11-17 02:46:43,Twitter for iPhone,This is Scout. She is a black Downton Abbey. Isn't afraid to get dirty. 9/10 nothing bad to say https://t.co/kH60oka1HW,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666447344410484738/photo/1,9,10,Scout,puppo,None
5555,666418789513326592,NaN,NaN,2015-11-17 00:53:15,Twitter for iPhone,This is Walter. He is an Alaskan Terrapin. Loves outdated bandanas. One ear still working. Cool house plant. 10/10 https://t.co/qXpcwENTvn,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666418789513326592/photo/1,10,10,Walter,puppo,None

In [55]:
stage_match = twitter_archive_clean2.query("variable == value")
stage_nomatch = twitter_archive_clean2.query("variable != value")

In [56]:
del stage_nomatch['variable']
del stage_match['variable']

In [57]:
stage_nomatch = stage_nomatch.drop_duplicates()
stage_match = stage_match.drop_duplicates()

In [58]:
stage_match.tweet_id.value_counts()

817777686764523521    2
801115127852503040    2
759793422261743616    2
785639753186217984    2
751950017322246144    1
681891461017812993    1
673697980713705472    1
685307451701334016    1
675006312288268288    1
686618349602762752    1
679503373272485890    1
828381636999917570    1
673919437611909120    1
819952236453363712    1
819004803107983360    1
811386762094317568    1
705975130514706432    1
750011400160841729    1
693095443459342336    1
826848821049180160    1
683142553609318400    1
675845657354215424    1
680473011644985345    1
686683045143953408    1
721001180231503872    1
867421006826221569    1
890240255349198849    1
703611486317502464    1
679777920601223168    1
760893934457552897    1
                     ..
878776093423087618    1
750868782890057730    1
719704490224398336    1
694329668942569472    1
681694085539872773    1
789903600034189313    1
871515927908634625    1
873213775632977920    1
781655249211752448    1
673612854080196609    1
813096984823349248    1
821407182352777218    1
825026590719483904    1
778027034220126208    1
674262580978937856    1
735256018284875776    1
773547596996571136    1
832032802820481025    1
750506206503038976    1
832998151111966721    1
685641971164143616    1
871762521631449091    1
732375214819057664    1
749417653287129088    1
687476254459715584    1
717009362452090881    1
672898206762672129    1
837110210464448512    1
775733305207554048    1
886366144734445568    1
Name: tweet_id, Length: 184, dtype: int64

Most of the stage are indicated as None
4 dogs have 2 stages : 
                     -   817777686764523521 -> pupper       
                     -   801115127852503040 -> doggo
                     -   759793422261743616 -> doggo
                     -   785639753186217984 -> doggo

In [59]:
stage_match = stage_match.drop(270)
stage_match = stage_match.drop(3117)
stage_match = stage_match.drop(3311)
stage_match = stage_match.drop(3191)

In [60]:
twitter_archive_clean3 = pd.concat([stage_match, stage_nomatch])
twitter_archive_clean3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1573 entries, 7 to 2053
Data columns (total 14 columns):
tweet_id                      1573 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1573 non-null datetime64[ns]
source                        1573 non-null object
text                          1573 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1573 non-null object
rating_numerator              1573 non-null int64
rating_denominator            1573 non-null int64
name                          1573 non-null object
value                         1573 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 184.3+ KB

In [61]:
twitter_archive_clean3.tweet_id.value_counts()

749417653287129088    2
801115127852503040    2
819006400881917954    2
711008018775851008    2
689623661272240129    2
845306882940190720    2
672898206762672129    2
683481228088049664    2
786363235746385920    2
692417313023332352    2
884162670584377345    2
672481316919734272    2
692905862751522816    2
674737130913071104    2
685169283572338688    2
680145970311643136    2
681694085539872773    2
789903600034189313    2
750383411068534784    2
689905486972461056    2
832032802820481025    2
760893934457552897    2
673707060090052608    2
742150209887731712    2
821407182352777218    2
696713835009417216    2
672594978741354496    2
800388270626521089    2
826958653328592898    2
869596645499047938    2
                     ..
667453023279554560    1
741099773336379392    1
745712589599014916    1
708853462201716736    1
780858289093574656    1
735991953473572864    1
675111688094527488    1
669000397445533696    1
797236660651966464    1
777885040357281792    1
825876512159186944    1
675891555769696257    1
667393430834667520    1
676101918813499392    1
697242256848379904    1
684241637099323392    1
789530877013393408    1
689835978131935233    1
755110668769038337    1
828708714936930305    1
675146535592706048    1
827600520311402496    1
670676092097810432    1
667546741521195010    1
671504605491109889    1
813051746834595840    1
730427201120833536    1
869702957897576449    1
828409743546925057    1
671511350426865664    1
Name: tweet_id, Length: 1389, dtype: int64

In [62]:
twitter_archive_clean3 = twitter_archive_clean3.drop_duplicates(subset='tweet_id', keep="first")

In [63]:
twitter_archive_clean3.rename(columns={'value': 'stage'}, inplace=True)

In [64]:
twitter_archive_clean3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 7 to 1388
Data columns (total 14 columns):
tweet_id                      1389 non-null int64
in_reply_to_status_id         0 non-null float64
in_reply_to_user_id           0 non-null float64
timestamp                     1389 non-null datetime64[ns]
source                        1389 non-null object
text                          1389 non-null object
retweeted_status_id           0 non-null float64
retweeted_status_user_id      0 non-null float64
retweeted_status_timestamp    0 non-null object
expanded_urls                 1389 non-null object
rating_numerator              1389 non-null int64
rating_denominator            1389 non-null int64
name                          1389 non-null object
stage                         1389 non-null object
dtypes: datetime64[ns](1), float64(4), int64(3), object(6)
memory usage: 162.8+ KB

In [65]:
twitter_archive_clean = twitter_archive_clean3

<a id='tidy2'></a>
#### II. Delete the retweet and reply columns from archive

In [66]:
del twitter_archive_clean['in_reply_to_status_id']
del twitter_archive_clean['in_reply_to_user_id']
del twitter_archive_clean['retweeted_status_user_id']
del twitter_archive_clean['retweeted_status_id']
del twitter_archive_clean['retweeted_status_timestamp']

In [67]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 7 to 1388
Data columns (total 9 columns):
tweet_id              1389 non-null int64
timestamp             1389 non-null datetime64[ns]
source                1389 non-null object
text                  1389 non-null object
expanded_urls         1389 non-null object
rating_numerator      1389 non-null int64
rating_denominator    1389 non-null int64
name                  1389 non-null object
stage                 1389 non-null object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 108.5+ KB

<a id='tidy3'></a>
#### III. Tydinnes issues of image_prediction_clean

Here we have 9 Columns to represent the 3 predictions,
I would like to replace them in 4 columns to select only the best prediction and know which one it was.
the four columns would be as follows: 
    - # predictions
    - dog breed name
    - confidence of prediction
    - boolean of whether it's a dog or not.

In [68]:
image_prediction_clean.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [69]:
image_prediction_clean2 =  image_prediction_clean
image_prediction_clean2.head(3)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True

In [70]:
max_conf = image_prediction_clean2[["p1_conf", "p2_conf","p3_conf"]].max(axis=1)
image_prediction_clean2['confidence'] = max_conf

In [71]:
image_prediction_clean2

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,confidence
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh Springer Spaniel,0.465074,True,Collie,0.156665,True,Shetland Sheepdog,0.061428,True,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature Pinscher,0.074192,True,Rhodesian Ridgeback,0.072010,True,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature Pinscher,0.222752,True,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,0.560311
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese Mountain Dog,0.651137,True,English Springer,0.263788,True,Greater Swiss Mountain Dog,0.016199,True,0.651137
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,Box Turtle,0.933012,False,Mud Turtle,0.045885,False,Terrapin,0.017885,False,0.933012
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,Chow,0.692517,True,Tibetan Mastiff,0.058279,True,Fur Coat,0.054449,False,0.692517
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,Shopping Cart,0.962465,False,Shopping Basket,0.014594,False,Golden Retriever,0.007959,True,0.962465
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,Miniature Poodle,0.201493,True,Komondor,0.192305,True,Soft-Coated Wheaten Terrier,0.082086,True,0.201493
10,666063827256086533,https://pbs.twimg.com/media/CT5Vg_wXIAAXfnj.jpg,1,Golden Retriever,0.775930,True,Tibetan Mastiff,0.093718,True,Labrador Retriever,0.072427,True,0.775930
11,666071193221509120,https://pbs.twimg.com/media/CT5cN_3WEAAlOoZ.jpg,1,Gordon Setter,0.503672,True,Yorkshire Terrier,0.174201,True,Pekinese,0.109454,True,0.503672
12,666073100786774016,https://pbs.twimg.com/media/CT5d9DZXAAALcwe.jpg,1,Walker Hound,0.260857,True,English Foxhound,0.175382,True,Ibizan Hound,0.097471,True,0.260857
13,666082916733198337,https://pbs.twimg.com/media/CT5m4VGWEAAtKc8.jpg,1,Pug,0.489814,True,Bull Mastiff,0.404722,True,French Bulldog,0.048960,True,0.489814
14,666094000022159362,https://pbs.twimg.com/media/CT5w9gUW4AAsBNN.jpg,1,Bloodhound,0.195217,True,German Shepherd,0.078260,True,Malinois,0.075628,True,0.195217
15,666099513787052032,https://pbs.twimg.com/media/CT51-JJUEAA6hV8.jpg,1,Lhasa,0.582330,True,Shih-Tzu,0.166192,True,Dandie Dinmont,0.089688,True,0.582330
16,666102155909144576,https://pbs.twimg.com/media/CT54YGiWUAEZnoK.jpg,1,English Setter,0.298617,True,Newfoundland,0.149842,True,Borzoi,0.133649,True,0.298617
17,666104133288665088,https://pbs.twimg.com/media/CT56LSZWoAAlJj2.jpg,1,Hen,0.965932,False,Cock,0.033919,False,Partridge,0.000052,False,0.965932
18,666268910803644416,https://pbs.twimg.com/media/CT8QCd1WEAADXws.jpg,1,Desktop Computer,0.086502,False,Desk,0.085547,False,Bookcase,0.079480,False,0.086502
19,666273097616637952,https://pbs.twimg.com/media/CT8T1mtUwAA3aqm.jpg,1,Italian Greyhound,0.176053,True,Toy Terrier,0.111884,True,Basenji,0.111152,True,0.176053
20,666287406224695296,https://pbs.twimg.com/media/CT8g3BpUEAAuFjg.jpg,1,Maltese Dog,0.857531,True,Toy Poodle,0.063064,True,Miniature Poodle,0.025581,True,0.857531
21,666293911632134144,https://pbs.twimg.com/media/CT8mx7KW4AEQu8N.jpg,1,Three-Toed Sloth,0.914671,False,Otter,0.015250,False,Great Grey Owl,0.013207,False,0.914671
22,666337882303524864,https://pbs.twimg.com/media/CT9OwFIWEAMuRje.jpg,1,Ox,0.416669,False,Newfoundland,0.278407,True,Groenendael,0.102643,True,0.416669
23,666345417576210432,https://pbs.twimg.com/media/CT9Vn7PWoAA_ZCM.jpg,1,Golden Retriever,0.858744,True,Chesapeake Bay Retriever,0.054787,True,Labrador Retriever,0.014241,True,0.858744
24,666353288456101888,https://pbs.twimg.com/media/CT9cx0tUEAAhNN_.jpg,1,Malamute,0.336874,True,Siberian Husky,0.147655,True,Eskimo Dog,0.093412,True,0.336874
25,666362758909284353,https://pbs.twimg.com/media/CT9lXGsUcAAyUFt.jpg,1,Guinea Pig,0.996496,False,Skunk,0.002402,False,Hamster,0.000461,False,0.996496
26,666373753744588802,https://pbs.twimg.com/media/CT9vZEYWUAAlZ05.jpg,1,Soft-Coated Wheaten Terrier,0.326467,True,Afghan Hound,0.259551,True,Briard,0.206803,True,0.326467
27,666396247373291520,https://pbs.twimg.com/media/CT-D2ZHWIAA3gK1.jpg,1,Chihuahua,0.978108,True,Toy Terrier,0.009397,True,Papillon,0.004577,True,0.978108
28,666407126856765440,https://pbs.twimg.com/media/CT-NvwmW4AAugGZ.jpg,1,Black-And-Tan Coonhound,0.529139,True,Bloodhound,0.244220,True,Flat-Coated Retriever,0.173810,True,0.529139
29,666411507551481857,https://pbs.twimg.com/media/CT-RugiWIAELEaq.jpg,1,Coho,0.404640,False,Barracouta,0.271485,False,Gar,0.189945,False,0.404640
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,886366144734445568,https://pbs.twimg.com/media/DE0BTnQUwAApKEH.jpg,1,French Bulldog,0.999201,True,Chihuahua,0.000361,True,Boston Bull,0.000076,True,0.999201
2046,886680336477933568,https://pbs.twimg.com/media/DE4fEDzWAAAyHMM.jpg,1,Convertible,0.738995,False,Sports Car,0.139952,False,Car Wheel,0.044173,False,0.738995
2047,886736880519319552,https://pbs.twimg.com/media/DE5Se8FXcAAJFx4.jpg,1,Kuvasz,0.309706,True,Great Pyrenees,0.186136,True,Dandie Dinmont,0.086346,True,0.309706
2048,886983233522544640,https://pbs.twimg.com/media/DE8yicJW0AAAvBJ.jpg,2,Chihuahua,0.793469,True,Toy Terrier,0.143528,True,Can Opener,0.032253,False,0.793469
2049,887101392804085760,https://pbs.twimg.com/media/DE-eAq6UwAA-jaE.jpg,1,Samoyed,0.733942,True,Eskimo Dog,0.035029,True,Staffordshire Bullterrier,0.029705,True,0.733942
2050,887343217045368832,https://pbs.twimg.com/ext_tw_video_thumb/887343120832229379/pu/img/6HSuFrW1lzI_9Mht.jpg,1,Mexican Hairless,0.330741,True,Sea Lion,0.275645,False,Weimaraner,0.134203,True,0.330741
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian Ridgeback,0.054950,True,Beagle,0.038915,True,0.809197
2052,887517139158093824,https://pbs.twimg.com/ext_tw_video_thumb/887517108413886465/pu/img/WanJKwssZj4VJvL9.jpg,1,Limousine,0.130432,False,Tow Truck,0.029175,False,Shopping Cart,0.026321,False,0.130432
2053,887705289381826560,https://pbs.twimg.com/media/DFHDQBbXgAEqY7t.jpg,1,Basset,0.821664,True,Redbone,0.087582,True,Weimaraner,0.026236,True,0.821664
2054,888078434458587136,https://pbs.twimg.com/media/DFMWn56WsAAkA7B.jpg,1,French Bulldog,0.995026,True,Pug,0.000932,True,Bull Mastiff,0.000903,True,0.995026
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian Ridgeback,0.054950,True,Beagle,0.038915,True,0.809197
2056,888554962724278272,https://pbs.twimg.com/media/DFTH_O-UQAACu20.jpg,3,Siberian Husky,0.700377,True,Eskimo Dog,0.166511,True,Malamute,0.111411,True,0.700377
2057,888804989199671297,https://pbs.twimg.com/media/DFWra-3VYAA2piG.jpg,1,Golden Retriever,0.469760,True,Labrador Retriever,0.184172,True,English Setter,0.073482,True,0.469760
2058,888917238123831296,https://pbs.twimg.com/media/DFYRgsOUQAARGhO.jpg,1,Golden Retriever,0.714719,True,Tibetan Mastiff,0.120184,True,Labrador Retriever,0.105506,True,0.714719
2059,889278841981685760,https://pbs.twimg.com/ext_tw_video_thumb/889278779352338437/pu/img/VlbFB3v8H8VwzVNY.jpg,1,Whippet,0.626152,True,Borzoi,0.194742,True,Saluki,0.027351,True,0.626152
2060,889531135344209921,https://pbs.twimg.com/media/DFg_2PVW0AEHN3p.jpg,1,Golden Retriever,0.953442,True,Labrador Retriever,0.013834,True,Redbone,0.007958,True,0.953442
2061,889638837579907072,https://pbs.twimg.com/media/DFihzFfXsAYGDPR.jpg,1,French Bulldog,0.991650,True,Boxer,0.002129,True,Staffordshire Bullterrier,0.001498,True,0.991650
2062,889665388333682689,https://pbs.twimg.com/media/DFi579UWsAAatzw.jpg,1,Pembroke,0.966327,True,Cardigan,0.027356,True,Basenji,0.004633,True,0.966327
2063,889880896479866881,https://pbs.twimg.com/media/DFl99B1WsAITKsg.jpg,1,French Bulldog,0.377417,True,Labrador Retriever,0.151317,True,Muzzle,0.082981,False,0.377417
2064,890006608113172480,https://pbs.twimg.com/media/DFnwSY4WAAAMliS.jpg,1,Samoyed,0.957979,True,Pomeranian,0.013884,True,Chow,0.008167,True,0.957979
2065,890240255349198849,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1,Pembroke,0.511319,True,Cardigan,0.451038,True,Chihuahua,0.029248,True,0.511319
2066,890609185150312448,https://pbs.twimg.com/media/DFwUU__XcAEpyXI.jpg,1,Irish Terrier,0.487574,True,Irish Setter,0.193054,True,Chesapeake Bay Retriever,0.118184,True,0.487574
2067,890729181411237888,https://pbs.twimg.com/media/DFyBahAVwAAhUTd.jpg,2,Pomeranian,0.566142,True,Eskimo Dog,0.178406,True,Pembroke,0.076507,True,0.566142
2068,890971913173991426,https://pbs.twimg.com/media/DF1eOmZXUAALUcq.jpg,1,Appenzeller,0.341703,True,Border Collie,0.199287,True,Ice Lolly,0.193548,False,0.341703
2069,891087950875897856,https://pbs.twimg.com/media/DF3HwyEWsAABqE6.jpg,1,Chesapeake Bay Retriever,0.425595,True,Irish Terrier,0.116317,True,Indian Elephant,0.076902,False,0.425595
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,Basset,0.555712,True,English Springer,0.225770,True,German Short-Haired Pointer,0.175219,True,0.555712
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Paper Towel,0.170278,False,Labrador Retriever,0.168086,True,Spatula,0.040836,False,0.170278
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,Malamute,0.078253,True,Kelpie,0.031379,True,0.716012
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,Papillon,0.068957,True,0.323581
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,Orange,0.097049,False,Bagel,0.085851,False,Banana,0.076110,False,0.097049

let's see if the first prediction is always the better

In [72]:
image_prediction_clean2['check'] = (image_prediction_clean2['p1_conf'] == image_prediction_clean2['confidence']).astype('object')

In [73]:
image_prediction_clean2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 14 columns):
tweet_id      2075 non-null int64
jpg_url       2075 non-null object
img_num       2075 non-null int64
p1            2075 non-null object
p1_conf       2075 non-null float64
p1_dog        2075 non-null bool
p2            2075 non-null object
p2_conf       2075 non-null float64
p2_dog        2075 non-null bool
p3            2075 non-null object
p3_conf       2075 non-null float64
p3_dog        2075 non-null bool
confidence    2075 non-null float64
check         2075 non-null object
dtypes: bool(3), float64(4), int64(2), object(5)
memory usage: 184.5+ KB

In [74]:
image_prediction_clean2['check'].value_counts()

True    2075
Name: check, dtype: int64

The first prediction is always the better

In [75]:
image_prediction_clean2['breed'] = image_prediction_clean2.iloc[:,[3]]
image_prediction_clean2['isdog?'] = image_prediction_clean2.iloc[:,[5]]
del image_prediction_clean2['check']

In [76]:
image_prediction_clean2 = image_prediction_clean2.drop(['p1', 'p2','p3','p1_conf', 'p2_conf','p3_conf','p1_dog', 'p2_dog','p3_dog'], axis = 1)

In [77]:
image_prediction_clean2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
tweet_id      2075 non-null int64
jpg_url       2075 non-null object
img_num       2075 non-null int64
confidence    2075 non-null float64
breed         2075 non-null object
isdog?        2075 non-null bool
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 83.2+ KB

In [78]:
image_prediction_clean = image_prediction_clean2

<a id='merge'></a>
### Merging column

In [79]:
image_prediction_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 6 columns):
tweet_id      2075 non-null int64
jpg_url       2075 non-null object
img_num       2075 non-null int64
confidence    2075 non-null float64
breed         2075 non-null object
isdog?        2075 non-null bool
dtypes: bool(1), float64(1), int64(2), object(2)
memory usage: 83.2+ KB

In [80]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 7 to 1388
Data columns (total 9 columns):
tweet_id              1389 non-null int64
timestamp             1389 non-null datetime64[ns]
source                1389 non-null object
text                  1389 non-null object
expanded_urls         1389 non-null object
rating_numerator      1389 non-null int64
rating_denominator    1389 non-null int64
name                  1389 non-null object
stage                 1389 non-null object
dtypes: datetime64[ns](1), int64(3), object(5)
memory usage: 108.5+ KB

In [81]:
tweet_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id    2331 non-null object
fav         2331 non-null int64
rt          2331 non-null int64
dtypes: int64(2), object(1)
memory usage: 54.7+ KB

In [82]:
tweet_metrics['tweet_id'] = tweet_metrics['tweet_id'].astype(str).astype(int)

In [83]:
tweet_metrics.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2331 entries, 0 to 2330
Data columns (total 3 columns):
tweet_id    2331 non-null int64
fav         2331 non-null int64
rt          2331 non-null int64
dtypes: int64(3)
memory usage: 54.7 KB

In [84]:
twitter_archive_master = pd.merge(twitter_archive_clean, image_prediction_clean, on = 'tweet_id', how = 'left')

In [87]:
twitter_archive_master = pd.merge(twitter_archive_master, tweet_metrics, on = 'tweet_id', how = 'left')

In [88]:
twitter_archive_master

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,stage,jpg_url,img_num,confidence,breed,isdog?,fav_x,rt_x,fav_y,rt_y
0,890240255349198849,2017-07-26 15:59:51,Twitter for iPhone,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,https://twitter.com/dog_rates/status/890240255349198849/photo/1,14,10,Cassie,doggo,https://pbs.twimg.com/media/DFrEyVuW0AAO3t9.jpg,1.0,0.511319,Pembroke,True,29978.0,6725.0,29978.0,6725.0
1,884162670584377345,2017-07-09 21:29:42,Twitter for iPhone,Meet Yogi. He doesn't have any important dog meetings today he just enjoys looking his best at all times. 12/10 for dangerously dapper doggo https://t.co/YSI00BzTBZ,https://twitter.com/dog_rates/status/884162670584377345/photo/1,12,10,Yogi,doggo,https://pbs.twimg.com/media/DEUtQbzW0AUTv_o.jpg,1.0,0.707046,German Shepherd,True,19210.0,2740.0,19210.0,2740.0
2,871515927908634625,2017-06-04 23:56:03,Twitter for iPhone,This is Napolean. He's a Raggedy East Nicaraguan Zoom Zoom. Runs on one leg. Built for deception. No eyes. Good with kids. 12/10 great doggo https://t.co/PR7B7w1rUw,"https://twitter.com/dog_rates/status/871515927908634625/photo/1,https://twitter.com/dog_rates/status/871515927908634625/photo/1",12,10,Napolean,doggo,https://pbs.twimg.com/media/DBg_HT9WAAEeIMM.jpg,2.0,0.974781,Komondor,True,19134.0,3228.0,19134.0,3228.0
3,869596645499047938,2017-05-30 16:49:31,Twitter for iPhone,This is Scout. He just graduated. Officially a doggo now. Have fun with taxes and losing sight of your ambitions. 12/10 would throw cap for https://t.co/DsA2hwXAJo,"https://twitter.com/dog_rates/status/869596645499047938/photo/1,https://twitter.com/dog_rates/status/869596645499047938/photo/1",12,10,Scout,doggo,https://pbs.twimg.com/media/DBFtiYqWAAAsjj1.jpg,1.0,0.955156,Chihuahua,True,15209.0,2913.0,15209.0,2913.0
4,846514051647705089,2017-03-28 00:07:32,Twitter for iPhone,This is Barney. He's an elder doggo. Hitches a ride when he gets tired. Waves goodbye before he leaves. 13/10 please come back soon https://t.co/cFAasDXauK,"https://twitter.com/dog_rates/status/846514051647705089/photo/1,https://twitter.com/dog_rates/status/846514051647705089/photo/1,https://twitter.com/dog_rates/status/846514051647705089/photo/1",13,10,Barney,doggo,https://pbs.twimg.com/media/C79sB4xXwAEvwKY.jpg,2.0,0.650003,Golden Retriever,True,44360.0,11451.0,44360.0,11451.0
5,845397057150107648,2017-03-24 22:08:59,Twitter for iPhone,"Say hello to Mimosa. She's an emotional support doggo who helps her owner with PTSD. 13/10, but she needs your help\n\nhttps://t.co/L6mLzrd7Mx https://t.co/jMutBFdw5o","https://www.gofundme.com/help-save-a-pup,https://twitter.com/dog_rates/status/845397057150107648/photo/1,https://twitter.com/dog_rates/status/845397057150107648/photo/1",13,10,Mimosa,doggo,https://pbs.twimg.com/media/C7t0IzLWkAINoft.jpg,1.0,0.394404,Dandie Dinmont,True,7608.0,1790.0,7608.0,1790.0
6,836753516572119041,2017-03-01 01:42:39,Twitter for iPhone,This is Meera. She just heard about taxes and how much a doghouse in a nice area costs. Not pupared to be a doggo anymore. 12/10 https://t.co/GZmNEdyoJY,https://twitter.com/dog_rates/status/836753516572119041/photo/1,12,10,Meera,doggo,https://pbs.twimg.com/media/C5y-4VwWcAIcaoj.jpg,1.0,0.936882,Mortarboard,False,19413.0,4657.0,19413.0,4657.0
7,832998151111966721,2017-02-18 17:00:10,Twitter for iPhone,"This is Rhino. He arrived at a shelter with an elaborate doggo manual for his new family, written by someone who will always love him. 13/10 https://t.co/QX1h0oqMz0","https://twitter.com/dog_rates/status/832998151111966721/photo/1,https://twitter.com/dog_rates/status/832998151111966721/photo/1",13,10,Rhino,doggo,https://pbs.twimg.com/media/C49nZavUYAEJjGw.jpg,1.0,0.539036,Boxer,True,13373.0,2218.0,13373.0,2218.0
8,832273440279240704,2017-02-16 17:00:25,Twitter for iPhone,Say hello to Smiley. He's a blind therapy doggo having a h*ckin blast high steppin around in the snow. 14/10 would follow anywhere https://t.co/SHAb1wHjMz,https://twitter.com/dog_rates/status/832273440279240704/video/1,14,10,Smiley,doggo,https://pbs.twimg.com/ext_tw_video_thumb/832273373149413377/pu/img/qOqxM0b48fEarmq6.jpg,1.0,0.134081,Pembroke,True,11452.0,2360.0,11452.0,2360.0
9,832032802820481025,2017-02-16 01:04:13,Twitter for iPhone,This is Miguel. He was the only remaining doggo at the adoption center after the weekend. Let's change that. 12/10\n\nhttps://t.co/P0bO8mCQwN https://t.co/SU4K34NT4M,"https://www.petfinder.com/petdetail/34918210,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1,https://twitter.com/dog_rates/status/832032802820481025/photo/1",12,10,Miguel,doggo,https://pbs.twimg.com/media/C4v5a4UWcAIRygc.jpg,1.0,0.601712,Whippet,True,18036.0,4702.0,18036.0,4702.0
10,831939777352105988,2017-02-15 18:54:34,Twitter for iPhone,This is Emanuel. He's a h*ckin rare doggo. Dwells in a semi-urban environment. Round features make him extra collectible. 12/10 would so pet https://t.co/k9bzgyVdUT,https://twitter.com/dog_rates/status/831939777352105988/photo/1,12,10,Emanuel,doggo,https://pbs.twimg.com/media/C4uk0EWWQAAaZm1.jpg,1.0,0.153862,Pomeranian,True,24234.0,6198.0,24234.0,6198.0
11,831322785565769729,2017-02-14 02:02:51,Twitter for iPhone,This is Pete. He has no eyes. Needs a guide doggo. Also appears to be considerably fluffy af. 12/10 would hug softly https://t.co/Xc0gyovCtK,https://twitter.com/dog_rates/status/831322785565769729/photo/1,12,10,Pete,doggo,https://pbs.twimg.com/media/C4lzqQ4UEAApzU0.jpg,1.0,0.999715,Old English Sheepdog,True,9356.0,1568.0,9356.0,1568.0
12,829374341691346946,2017-02-08 17:00:26,Twitter for iPhone,This is Astrid. She's a guide doggo in training. 13/10 would follow anywhere https://t.co/xo7FZFIAao,"https://twitter.com/dog_rates/status/829374341691346946/photo/1,https://twitter.com/dog_rates/status/829374341691346946/photo/1",13,10,Astrid,doggo,https://pbs.twimg.com/media/C4KHj-nWQAA3poV.jpg,1.0,0.757547,Staffordshire Bullterrier,True,NaN,NaN,NaN,NaN
13,828381636999917570,2017-02-05 23:15:47,Twitter for iPhone,Meet Doobert. He's a deaf doggo. Didn't stop him on the field tho. Absolute legend today. 14/10 would pat head approvingly https://t.co/iCk7zstRA9,https://twitter.com/dog_rates/status/828381636999917570/photo/1,14,10,Doobert,doggo,https://pbs.twimg.com/media/C38Asz1WEAAvzj3.jpg,1.0,0.392535,Bedlington Terrier,True,12738.0,2243.0,12738.0,2243.0
14,826958653328592898,2017-02-02 01:01:21,Twitter for iPhone,This is Loki. He smiles like Elvis. Ain't nothin but a hound doggo. 12/10 https://t.co/QV5nx6otZR,https://twitter.com/dog_rates/status/826958653328592898/photo/1,12,10,Loki,doggo,https://pbs.twimg.com/media/C3nygbBWQAAjwcW.jpg,1.0,0.617389,Golden Retriever,True,21850.0,5088.0,21850.0,5088.0
15,826848821049180160,2017-02-01 17:44:55,Twitter for iPhone,This is Cupid. He was found in the trash. Now he's well on his way to prosthetic front legs and a long happy doggo life. 13/10 heroic af https://t.co/WS0Gha8vRh,"https://twitter.com/dog_rates/status/826848821049180160/photo/1,https://twitter.com/dog_rates/status/826848821049180160/photo/1,https://twitter.com/dog_rates/status/826848821049180160/photo/1,https://twitter.com/dog_rates/status/826848821049180160/photo/1",13,10,Cupid,doggo,https://pbs.twimg.com/media/C3mOnZ_XUAAjr2V.jpg,4.0,0.858764,Great Pyrenees,True,36824.0,10315.0,36824.0,10315.0
16,826476773533745153,2017-01-31 17:06:32,Twitter for iPhone,This is Pilot. He has mastered the synchronized head tilt and sneaky tongue slip. Usually not unlocked until later doggo days. 12/10 https://t.co/YIV8sw8xkh,https://twitter.com/dog_rates/status/826476773533745153/photo/1,12,10,Pilot,doggo,https://pbs.twimg.com/media/C3g8M0lWIAEcFgn.jpg,1.0,0.741860,German Shepherd,True,18653.0,4257.0,18653.0,4257.0
17,821765923262631936,2017-01-18 17:07:18,Twitter for iPhone,This is Duchess. She uses dark doggo forces to levitate her toys. 13/10 magical af https://t.co/maDNMETA52,https://twitter.com/dog_rates/status/821765923262631936/photo/1,13,10,Duchess,doggo,https://pbs.twimg.com/media/C2d_vnHWEAE9phX.jpg,1.0,0.980071,Golden Retriever,True,8559.0,1686.0,8559.0,1686.0
18,821407182352777218,2017-01-17 17:21:47,Twitter for iPhone,This is Sundance. He's a doggo drummer. Even sings a bit on the side. 14/10 entertained af (vid by @sweetsundance) https://t.co/Xn5AQtiqzG,https://twitter.com/dog_rates/status/821407182352777218/video/1,14,10,Sundance,doggo,https://pbs.twimg.com/ext_tw_video_thumb/821407155391725568/pu/img/AJC07gFJDDBuwNTD.jpg,1.0,0.505496,Irish Setter,True,11985.0,4430.0,11985.0,4430.0
19,819006400881917954,2017-01-11 02:21:57,Twitter for iPhone,This is Sunny. She was also a very good First Doggo. 14/10 would also be an absolute honor to pet https://t.co/YOC1fHFCSb,"https://twitter.com/dog_rates/status/819006400881917954/photo/1,https://twitter.com/dog_rates/status/819006400881917954/photo/1,https://twitter.com/dog_rates/status/819006400881917954/photo/1,https://twitter.com/dog_rates/status/819006400881917954/photo/1",14,10,Sunny,doggo,https://pbs.twimg.com/media/C12x-JTVIAAzdfl.jpg,4.0,0.907083,Prison,False,46086.0,19325.0,46086.0,19325.0
20,819004803107983360,2017-01-11 02:15:36,Twitter for iPhone,This is Bo. He was a very good First Doggo. 14/10 would be an absolute honor to pet https://t.co/AdPKrI8BZ1,"https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1,https://twitter.com/dog_rates/status/819004803107983360/photo/1",14,10,Bo,doggo,https://pbs.twimg.com/media/C12whDoVEAALRxa.jpg,1.0,0.351308,Standard Poodle,True,88435.0,37591.0,88435.0,37591.0
21,813910438903693312,2016-12-28 00:52:25,Twitter for iPhone,This is Chubbs. He dug a hole and now he's stuck in it. Dang h*ckin doggo. 11/10 would assist https://t.co/z1VRj1cYZf,https://twitter.com/dog_rates/status/813910438903693312/photo/1,11,10,Chubbs,doggo,https://pbs.twimg.com/media/C0uXObSXUAAIzmV.jpg,1.0,0.699355,Siberian Husky,True,9502.0,1915.0,9502.0,1915.0
22,813096984823349248,2016-12-25 19:00:02,Twitter for iPhone,This is Rocky. He got triple-doggo-dared. Stuck af. 11/10 someone help him https://t.co/soNL00XWVu,https://twitter.com/dog_rates/status/813096984823349248/photo/1,11,10,Rocky,doggo,https://pbs.twimg.com/media/C0izZULWgAAKD-F.jpg,1.0,0.128056,Great Dane,True,10798.0,3701.0,10798.0,3701.0
23,801115127852503040,2016-11-22 17:28:25,Twitter for iPhone,This is Bones. He's being haunted by another doggo of roughly the same size. 12/10 deep breaths pupper everything's fine https://t.co/55Dqe0SJNj,"https://twitter.com/dog_rates/status/801115127852503040/photo/1,https://twitter.com/dog_rates/status/801115127852503040/photo/1",12,10,Bones,doggo,https://pbs.twimg.com/media/Cx4h7zHUsAAqaJd.jpg,1.0,0.823356,Dalmatian,True,8281.0,2162.0,8281.0,2162.0
24,799757965289017345,2016-11-18 23:35:32,Twitter for iPhone,This is Sobe. She's a h*ckin happy doggo. Only one leg tho. Must have good balance. 13/10 would smile back https://t.co/OiH8PaOxB1,"https://twitter.com/dog_rates/status/799757965289017345/photo/1,https://twitter.com/dog_rates/status/799757965289017345/photo/1,https://twitter.com/dog_rates/status/799757965289017345/photo/1,https://twitter.com/dog_rates/status/799757965289017345/photo/1",13,10,Sobe,doggo,https://pbs.twimg.com/media/CxlPnoSUcAEXf1i.jpg,1.0,0.442534,Border Collie,True,8609.0,2218.0,8609.0,2218.0
25,786363235746385920,2016-10-13 00:29:39,Twitter for iPhone,This is Rizzo. He has many talents. A true renaissance doggo. 13/10 entertaining af https://t.co/TVXpEJB7Wn,"https://twitter.com/dog_rates/status/786363235746385920/photo/1,https://twitter.com/dog_rates/status/786363235746385920/photo/1,https://twitter.com/dog_rates/status/786363235746385920/photo/1,https://twitter.com/dog_rates/status/786363235746385920/photo/1",13,10,Rizzo,doggo,https://pbs.twimg.com/media/Cum5LlfWAAAyPcS.jpg,1.0,0.929266,Golden Retriever,True,11139.0,3600.0,11139.0,3600.0
26,785639753186217984,2016-10-11 00:34:48,Twitter for iPhone,This is Pinot. He's a sophisticated doggo. You can tell by the hat. Also pointier than your average pupper. Still 10/10 would pet cautiously https://t.co/f2wmLZTPHd,"https://twitter.com/dog_rates/status/785639753186217984/photo/1,https://twitter.com/dog_rates/status/785639753186217984/photo/1",10,10,Pinot,doggo,https://pbs.twimg.com/media/CucnLmeWAAALOSC.jpg,1.0,0.978042,Porcupine,False,8014.0,2289.0,8014.0,2289.0
27,782747134529531904,2016-10-03 01:00:34,Twitter for iPhone,This is Deacon. He's the happiest almost dry doggo I've ever seen. 11/10 would smile back https://t.co/C6fUMnHt1H,https://twitter.com/dog_rates/status/782747134529531904/photo/1,11,10,Deacon,doggo,https://pbs.twimg.com/media/CtzgXgeXYAA1Gxw.jpg,1.0,0.560699,Golden Retriever,True,7635.0,1439.0,7635.0,1439.0
28,782305867769217024,2016-10-01 19:47:08,Twitter for iPhone,This is Sampson. He just graduated. Ready to be a doggo now. Time for the real world. 12/10 have fun with taxes https://t.co/pgVKxRw0s1,"https://twitter.com/dog_rates/status/782305867769217024/photo/1,https://twitter.com/dog_rates/status/782305867769217024/photo/1,https://twitter.com/dog_rates/status/782305867769217024/photo/1",12,10,Sampson,doggo,https://pbs.twimg.com/media/CttPBt0WIAAcsDE.jpg,1.0,0.504427,Briard,True,16993.0,5701.0,16993.0,5701.0
29,781655249211752448,2016-09-30 00:41:48,Vine - Make a Scene,This is Combo. The daily struggles of being a doggo have finally caught up with him. 11/10 https://t.co/LOKrNo0OM7,https://vine.co/v/5rt6T3qm7hL,11,10,Combo,doggo,NaN,NaN,NaN,NaN,NaN,4077.0,1146.0,4077.0,1146.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1359,667517642048163840,2015-11-20 01:39:42,Twitter Web Client,This is Dook &amp; Milo. Dook is struggling to find who he really is and Milo is terrified of what that might be. 8/10s https://t.co/fh5KflzBR0,https://twitter.com/dog_rates/status/667517642048163840/photo/1,8,10,Dook,None,https://pbs.twimg.com/media/CUN_wiBUkAAakT0.jpg,1.0,0.125176,Italian Greyhound,True,354.0,182.0,354.0,182.0
1360,667502640335572993,2015-11-20 00:40:05,Twitter Web Client,Say hello to Hall and Oates. Oates is winking and Hall is contemplating the artistic entropy of the universe. 11/10s https://t.co/n5Wtb5Hvsl,https://twitter.com/dog_rates/status/667502640335572993/photo/1,11,10,Hall,None,https://pbs.twimg.com/media/CUNyHTMUYAAQVch.jpg,1.0,0.996709,Labrador Retriever,True,520.0,212.0,520.0,212.0
1361,667495797102141441,2015-11-20 00:12:54,Twitter Web Client,This is Philippe from Soviet Russia. Commanding leader. Misplaced other boot. Hung flag himself. 9/10 charismatic af https://t.co/5NhPV8E45i,https://twitter.com/dog_rates/status/667495797102141441/photo/1,9,10,Philippe,None,https://pbs.twimg.com/media/CUNr4-7UwAAg2lq.jpg,1.0,0.143957,Chihuahua,True,503.0,254.0,503.0,254.0
1362,667455448082227200,2015-11-19 21:32:34,Twitter Web Client,This is Reese and Twips. Reese protects Twips. Both think they're too good for seat belts. Simply reckless. 7/10s https://t.co/uLzRi1drVK,https://twitter.com/dog_rates/status/667455448082227200/photo/1,7,10,Reese,None,https://pbs.twimg.com/media/CUNHMXTU8AAS3HH.jpg,1.0,0.676376,Tibetan Terrier,True,183.0,56.0,183.0,56.0
1363,667453023279554560,2015-11-19 21:22:56,Twitter Web Client,Meet Cupcake. I would do unspeakable things for Cupcake. 11/10 https://t.co/6uLCWR9Efa,https://twitter.com/dog_rates/status/667453023279554560/photo/1,11,10,Cupcake,None,https://pbs.twimg.com/media/CUNE_OSUwAAdHhX.jpg,1.0,0.825670,Labrador Retriever,True,298.0,85.0,298.0,85.0
1364,667405339315146752,2015-11-19 18:13:27,Twitter for iPhone,This is Biden. Biden just tripped... 7/10 https://t.co/3Fm9PwLju1,https://twitter.com/dog_rates/status/667405339315146752/photo/1,7,10,Biden,None,https://pbs.twimg.com/media/CUMZnmhUEAEbtis.jpg,1.0,0.381377,Saint Bernard,True,448.0,213.0,448.0,213.0
1365,667393430834667520,2015-11-19 17:26:08,Twitter for iPhone,This is Fwed. He is a Canadian Asian Taylormade. Was having a blast until pink spiky football attacked. 8/10 https://t.co/A37eGLz5WS,https://twitter.com/dog_rates/status/667393430834667520/photo/1,8,10,Fwed,None,https://pbs.twimg.com/media/CUMOyd3XIAAl13H.jpg,1.0,0.557009,Papillon,True,188.0,52.0,188.0,52.0
1366,667211855547486208,2015-11-19 05:24:37,Twitter for iPhone,This is Genevieve. She is a golden retriever cocktail mix. Comfortable close to wall. Shows no emotions. 9/10 https://t.co/azEoGqVonH,https://twitter.com/dog_rates/status/667211855547486208/photo/1,9,10,Genevieve,None,https://pbs.twimg.com/media/CUJppKJWoAA75NP.jpg,1.0,0.462556,Golden Retriever,True,465.0,229.0,465.0,229.0
1367,667200525029539841,2015-11-19 04:39:35,Twitter for iPhone,This is Joshwa. He is a fuckboy supreme. He clearly relies on owner but doesn't respect them. Dreamy eyes tho 11/10 https://t.co/60xYFRATPZ,https://twitter.com/dog_rates/status/667200525029539841/photo/1,11,10,Joshwa,None,https://pbs.twimg.com/media/CUJfVMPXIAAgbue.jpg,1.0,0.694904,Siberian Husky,True,592.0,249.0,592.0,249.0
1368,667182792070062081,2015-11-19 03:29:07,Twitter for iPhone,This is Timison. He just told an awful joke but is still hanging on to the hope that you'll laugh with him. 10/10 https://t.co/s2yYuHabWl,https://twitter.com/dog_rates/status/667182792070062081/photo/1,10,10,Timison,None,https://pbs.twimg.com/media/CUJPNjOWsAAZRqP.jpg,1.0,0.949892,Golden Retriever,True,13730.0,5878.0,13730.0,5878.0
1369,667174963120574464,2015-11-19 02:58:01,Twitter for iPhone,"This is Clarence. His face says he doesn't want to be a donkey, but his tail is super pumped about it. 9/10 https://t.co/fGDWgukcBs",https://twitter.com/dog_rates/status/667174963120574464/photo/1,9,10,Clarence,None,https://pbs.twimg.com/media/CUJIFoJWsAAL3Dc.jpg,1.0,0.266437,Toy Poodle,True,233.0,74.0,233.0,74.0
1370,667171260800061440,2015-11-19 02:43:18,Twitter for iPhone,Say hello to Kenneth. He likes Reese's Puffs. 10/10 https://t.co/6RHNRsByOY,https://twitter.com/dog_rates/status/667171260800061440/photo/1,10,10,Kenneth,None,https://pbs.twimg.com/media/CUJEuRIXIAAPDLt.jpg,1.0,0.841265,Giant Schnauzer,True,212.0,80.0,212.0,80.0
1371,667165590075940865,2015-11-19 02:20:46,Twitter for iPhone,This is Churlie. AKA Fetty Woof. Lost eye saving a school bus full of toddlers from a tsunami. Great guy. 10/10 https://t.co/li2XYBVuAY,https://twitter.com/dog_rates/status/667165590075940865/photo/1,10,10,Churlie,None,https://pbs.twimg.com/media/CUI_kHBWsAAAef5.jpg,1.0,0.140173,Miniature Pinscher,True,2576.0,1076.0,2576.0,1076.0
1372,667160273090932737,2015-11-19 01:59:39,Twitter for iPhone,This is Bradlay. He is a Ronaldinho Matsuyama mix. Can also mountain bike (wow). Loves that blue light lime. 11/10 https://t.co/DKhgkMx4N1,https://twitter.com/dog_rates/status/667160273090932737/photo/1,11,10,Bradlay,None,https://pbs.twimg.com/media/CUI6uuaW4AAvCIs.jpg,1.0,0.471351,Golden Retriever,True,248.0,60.0,248.0,60.0
1373,667152164079423490,2015-11-19 01:27:25,Twitter for iPhone,This is Pipsy. He is a fluffball. Enjoys traveling the sea &amp; getting tangled in leash. 12/10 I would kill for Pipsy https://t.co/h9R0EwKd9X,https://twitter.com/dog_rates/status/667152164079423490/photo/1,12,10,Pipsy,None,https://pbs.twimg.com/media/CUIzWk_UwAAfUNq.jpg,1.0,0.535411,Toy Poodle,True,45745.0,16132.0,45745.0,16132.0
1374,667119796878725120,2015-11-18 23:18:48,Twitter for iPhone,This is Gabe. He is a southern Baklava. Gabe has always wanted to fit in with the other bananas. 10/10 fabulous https://t.co/3LZrJzg3BJ,https://twitter.com/dog_rates/status/667119796878725120/photo/1,10,10,Gabe,None,https://pbs.twimg.com/media/CUIV6F7XIAA1tAM.jpg,1.0,0.741563,Pembroke,True,319.0,123.0,319.0,123.0

In [89]:
twitter_archive_master = twitter_archive_master.drop(['jpg_url', 'img_num', 'fav_y', 'rt_y'], axis = 1)
twitter_archive_master.rename(columns={'fav_x':'favorite', 'rt_x':'retweet'}, inplace=True)

Let's check if the twitter_archive_master table is clean

In [91]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1389 entries, 0 to 1388
Data columns (total 14 columns):
tweet_id              1389 non-null int64
timestamp             1389 non-null datetime64[ns]
source                1389 non-null object
text                  1389 non-null object
expanded_urls         1389 non-null object
rating_numerator      1389 non-null int64
rating_denominator    1389 non-null int64
name                  1389 non-null object
stage                 1389 non-null object
confidence            1348 non-null float64
breed                 1348 non-null object
isdog?                1348 non-null object
favorite              1382 non-null float64
retweet               1382 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 162.8+ KB

As expected the column merged in the prior step does not exactly retrieve all the tweet_id.
We're gonna to delete the missing value of the last 5 columns

In [94]:
twitter_archive_master = twitter_archive_master.dropna(axis=0, subset=['confidence'])
twitter_archive_master = twitter_archive_master.dropna(axis=0, subset=['favorite'])

In [95]:
twitter_archive_master.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1341 entries, 0 to 1388
Data columns (total 14 columns):
tweet_id              1341 non-null int64
timestamp             1341 non-null datetime64[ns]
source                1341 non-null object
text                  1341 non-null object
expanded_urls         1341 non-null object
rating_numerator      1341 non-null int64
rating_denominator    1341 non-null int64
name                  1341 non-null object
stage                 1341 non-null object
confidence            1341 non-null float64
breed                 1341 non-null object
isdog?                1341 non-null object
favorite              1341 non-null float64
retweet               1341 non-null float64
dtypes: datetime64[ns](1), float64(3), int64(3), object(7)
memory usage: 157.1+ KB

The twitter_archive_master seems now to be cleaner, it's time to store it into a csv

<a id='store'></a>
### Store twitter_archive_master

In [96]:
twitter_archive_master.to_csv('twitter_archive_master.csv', index = False)

# To see the Analysis project please go to Analysis_Act.ipynb